.different-mesh 
  a.item-different(href="#") 
    .item-different__link.h2 Playgrounds →
    img(src="img/item-diff-1.jpg" alt="")
  a.item-different(href="#") 
    .item-different__link.h2 Ready-made solutions →
    img(src="img/item-diff-2.jpg" alt="")
  a.item-different(href="#") 
    .item-different__link.h2.item-different__link_color Apartments with ready renovation and smart technologies →
    img(src="img/item-diff-3.jpg" alt="")
  a.item-different(href="#") 
    .item-different__link.h2 Cozy surroundings →
    img(src="img/item-diff-4.jpg" alt="")
  a.item-different(href="#")
    .item-different__link.h2 Walking areas →
    img(src="img/item-diff-5.jpg" alt="")
  a.item-different(href="#") 
    .item-different__link.h2 Warm parking →
    img(src="img/item-diff-6.jpg" alt="")
  a.item-different(href="#") 
    .item-different__link.h2 Safe yard →
    img(src="img/item-diff-7.jpg" alt="")