.info-block
  .info-block__el.info-block_primary(js-lazy)  
    img(src="img/info-block.jpg" alt="")
  .info-block__wrapper
    .info-block__inner
      .info-block__el.info-block_secondary
        .h1
          |TOP-1
          .p1 developers of the Kaluga region by volume of current construction
      .info-block__el.info-block_tertiary
        .h1
          |3
          .p1 residential complex (33 were built)
    .info-block__inner
      .info-block__el.info-block_tertiary
        .h1
          |250
          .p1 employees in the company
      .info-block__el.info-block_secondary
        .h1
          |120
          .p1 employees in the company