.brief-info
  .brief-info__top
    .brief-info__top-el
      <div>
        span
          p.h2 3
        .p1 residential complex (33 were built)
      </div>
    .brief-info__top-el 
      <div>
        span
          p.h2 TOP-1
        .p1 developers of the Kaluga region by volume of current construction
      </div>
    .brief-info__top-el 
      <div>
        span
          p.h2 250
        .p1 employees in the company
      </div>
  .brief-info__body(js-lazy)
    img(src="img/brief-info-img.jpg", alt="")