section.living-facility
  .main-title
    h1.blog__title.h1.content-hide Mortgage
  .modal-lf
  include ../blocks/living-facility/slider-lf-full/_slider-lf-full.pug
  .houseLf-popup(data-houseLf="0")
    .houseLf-popup__hidd
      a.button-color(href="#") Select an apartment
    .houseLf-popup__container
      button.houseLf-popup__close
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 21L12 12M21 3L12 12M12 12L3 3M12 12L21 21" stroke="#0F0F0F" stroke-width="2"/>
        </svg>
      .title-xxl Residential complex "Neighbors" house №1
      .title-xl 
        |The entrance to the entrances is located at ground level -
        |residents do not need to climb steps or ramps.
        |Modern children's play and
        |sports grounds will be installed on the internal territory. The entrance to the entrances is located at ground level -
        |residents do not need to climb steps or ramps.
        |Modern children's play and
        |sports grounds will be installed on the internal territory.
      .houseLf-popup__info 
        include ../blocks/living-facility/block-appInfo/_block-appInfo.pug
    include ../blocks/living-facility/slider-lf-bg-only/_slider-lf-bg-only.pug
    .houseLf-popup__container
      .houseLf-popup__descr 
        .title-xxl Rough finish
        .title-xl 
          |The developer will do the dirty and loud work.
          |and all you have to do is choose the colors of the future interior and finishing coatings.
        .title-l-bold The cost is included in the contract
        .title-l
          |The cost of the white box finish is included in the equity participation agreement —
          |you can get it on a mortgage
        .title-l-bold The cost is included in the contract
        .title-l
          |The cost of the white box finish is included in the equity participation agreement —
          |you can get it on a mortgage
        .title-l-bold The cost is included in the contract
        .title-l
          |The cost of the white box finish is included in the equity participation agreement —
          |you can get it on a mortgage
  .houseLf-popup(data-houseLf="1")
    .houseLf-popup__hidd
      a.button-color(href="#") Select an apartment
    .houseLf-popup__container
      button.houseLf-popup__close
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 21L12 12M21 3L12 12M12 12L3 3M12 12L21 21" stroke="#0F0F0F" stroke-width="2"/>
        </svg>
      .title-xxl RC «Neighbours» house №2
      .title-xl 
        |The entrance to the entrances is located at ground level -
        |residents do not need to climb steps or ramps.
        |Modern children's play and
        |sports grounds will be installed on the internal territory. The entrance to the entrances is located at ground level -
        |residents do not need to climb steps or ramps.
        |Modern children's play and
        |sports grounds will be installed on the internal territory.
      .houseLf-popup__info 
        include ../blocks/living-facility/block-appInfo/_block-appInfo.pug
    include ../blocks/living-facility/slider-lf-bg-only/_slider-lf-bg-only.pug
    .houseLf-popup__container
      .houseLf-popup__descr 
        .title-xxl Rough finish
        .title-xl 
          |The developer will do the dirty and loud work.
          |and all you have to do is choose the colors of the future interior and finishing coatings.
        .title-l-bold The cost is included in the contract
        .title-l
          |The cost of the white box finish is included in the equity participation agreement —
          |you can get it on a mortgage
        .title-l-bold The cost is included in the contract
        .title-l
          |The cost of the white box finish is included in the equity participation agreement —
          |you can get it on a mortgage
        .title-l-bold The cost is included in the contract
        .title-l
          |The cost of the white box finish is included in the equity participation agreement —
          |you can get it on a mortgage
  .houseLf-popup(data-houseLf="2")
    .houseLf-popup__hidd
      a.button-color(href="#") Select an apartment
    .houseLf-popup__container
      button.houseLf-popup__close
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 21L12 12M21 3L12 12M12 12L3 3M12 12L21 21" stroke="#0F0F0F" stroke-width="2"/>
        </svg>
      .title-xxl RC «Neighbours» House №3
      .title-xl 
        |The entrance to the entrances is located at ground level -
        |residents do not need to climb steps or ramps.
        |Modern children's play and
        |sports grounds will be installed on the internal territory. The entrance to the entrances is located at ground level -
        |residents do not need to climb steps or ramps.
        |Modern children's play and
        |sports grounds will be installed on the internal territory.
      .houseLf-popup__info 
        include ../blocks/living-facility/block-appInfo/_block-appInfo.pug
    include ../blocks/living-facility/slider-lf-bg-only/_slider-lf-bg-only.pug
    .houseLf-popup__container
      .houseLf-popup__descr 
        .title-xxl Rough finish
        .title-xl 
          |The developer will do the dirty and loud work.
          |and all you have to do is choose the colors of the future interior and finishing coatings.
        .title-l-bold The cost is included in the contract
        .title-l
          |The cost of the white box finish is included in the equity participation agreement —
          |you can get it on a mortgage
        .title-l-bold The cost is included in the contract
        .title-l
          |The cost of the white box finish is included in the equity participation agreement —
          |you can get it on a mortgage
        .title-l-bold The cost is included in the contract
        .title-l
          |The cost of the white box finish is included in the equity participation agreement —
          |you can get it on a mortgage
  .block-wrapper.block-mbNo.block-wrapper__mrTopNo
    .block-wrapper__el.block-mbNo.block-el__mrTopNo
      include ../blocks/living-facility/block-main/_block-main.pug
  .block-wrapper 
    .block-wrapper__el
      .block-lf
        include ../blocks/living-facility/block-context/_block-context.pug
  .block-wrapper 
    .block-wrapper__el
      include ../blocks/living-facility/slider-lf-bg/_slider-lf-bg.pug
    .block-wrapper__el
      .block-wrapper__el
        .block-lf
          include ../blocks/living-facility/animate-title/_animate-title.pug
          .houseLf-mesh-wrapper.swiper-container
            .houseLf-mesh.swiper-wrapper
              .house-lf(data-house).swiper-slide()
                <div js-lazy>
                  <picture>
                    <source media="(min-width:768px)" srcset="/img/living-facility/house-pr-1.jpg">
                    <source media="(max-width:768px)" srcset="/img/living-facility/house-lf-small.jpg">
                    <img data-src="/img/living-facility/house-lf.jpg" alt="main image 1">
                  </picture>
                </div>
                .house-lf__info 
                  .house-lf__info-svg 
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 4V20" stroke="#0F0F0F" stroke-width="2"/>
                      <path d="M19.9994 11.9998L3.99939 11.9998" stroke="#0F0F0F" stroke-width="2"/>
                    </svg>
                  .house-lf__info-title.title-m House №1
              .house-lf(data-house).swiper-slide()
                <div js-lazy>
                  <picture>
                    <source media="(min-width:768px)" srcset="/img/living-facility/house-pr-2.jpg">
                    <source media="(max-width:768px)" srcset="/img/living-facility/house-lf-small.jpg">
                    <img data-src="/img/living-facility/house-lf.jpg" alt="main image 1">
                  </picture>
                </div>
                .house-lf__info 
                  .house-lf__info-svg 
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 4V20" stroke="#0F0F0F" stroke-width="2"/>
                      <path d="M19.9994 11.9998L3.99939 11.9998" stroke="#0F0F0F" stroke-width="2"/>
                    </svg>
                  .house-lf__info-title.title-m House №2
              .house-lf(data-house).swiper-slide()
                <div js-lazy>
                  <picture>
                    <source media="(min-width:768px)" srcset="/img/living-facility/house-pr-3.jpg">
                    <source media="(max-width:768px)" srcset="/img/living-facility/house-lf-small.jpg">
                    <img data-src="/img/living-facility/house-lf.jpg" alt="main image 1">
                  </picture>
                </div>
                .house-lf__info 
                  .house-lf__info-svg 
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 4V20" stroke="#0F0F0F" stroke-width="2"/>
                      <path d="M19.9994 11.9998L3.99939 11.9998" stroke="#0F0F0F" stroke-width="2"/>
                    </svg>
                  .house-lf__info-title.title-m House №3
              //- include ../blocks/living-facility/block-house/_block-house.pug
              //- include ../blocks/living-facility/block-house/_block-house.pug
              //- include ../blocks/living-facility/block-house/_block-house.pug
    .block-wrapper__el
      .block-imgBig(js-lazy)
        img(src="img/apartment-slider-bg.jpg" alt="")
    .block-wrapper__el
      .block-lf
        .block-title 
          .title-xxl Unique furnished apartments
          a(href="#").button-icon.slide-button
            span
              |Select an apartment
              img(src="/img/living-facility/lf-btn-icon.svg" alt="")
        .sliderLf-mesh
          <div>
            //-include ../blocks/living-facility/slider-lf-sm/_slider-lf-sm.pug
            .sliderLf-sm.swiper-container
              .sliderLf-sm__wrapper.swiper-wrapper(data-fs-ctr)
                - var k = 0
                while k < 5
                  .sliderLf-sm__el.swiper-slide(data-fs-full data-fs-all="9" data-fs-title="9slides")
                    <div js-lazy>
                      img(src="img/living-facility/app-1.jpg" alt="")
                    </div>
                    .title-m.sliderLf-sm__badge Studio
                  - k++
              .control-inner
                .swiper-pagination.pag-tab
                button.slider-navigation-prev.slide-button.slide-button_horizontal
                  span 
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 15L2 8L9 1" stroke="#0F0F0F" stroke-width="1.5"/>
                    </svg>
                button.slider-navigation-next.slide-button.slide-button_horizontal
                  span 
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 15L2 8L9 1" stroke="#0F0F0F" stroke-width="1.5"/>
                    </svg>
            include ../blocks/living-facility/block-info/_block-info.pug
          </div>
          <div>
            //- include ../blocks/living-facility/slider-lf-sm/_slider-lf-sm.pug
            .sliderLf-sm.swiper-container
              .sliderLf-sm__wrapper.swiper-wrapper(data-fs-ctr)
                - var k = 0
                while k < 5
                  .sliderLf-sm__el.swiper-slide(data-fs-full data-fs-all="13" data-fs-title="13-1slides")
                    <div js-lazy>
                      img(src="img/living-facility/app-2.jpg" alt="")
                    </div>
                    .title-m.sliderLf-sm__badge Studio
                  - k++
              .control-inner
                .swiper-pagination.pag-tab
                button.slider-navigation-prev.slide-button.slide-button_horizontal
                  span 
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 15L2 8L9 1" stroke="#0F0F0F" stroke-width="1.5"/>
                    </svg>
                button.slider-navigation-next.slide-button.slide-button_horizontal
                  span 
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 15L2 8L9 1" stroke="#0F0F0F" stroke-width="1.5"/>
                    </svg>
            include ../blocks/living-facility/block-info/_block-info.pug
          </div>
    .block-wrapper__el
      .block-lf
        .block-title 
          .title-xxl Infrastructure of the area
        include ../blocks/living-facility/map-lf-simple/_map-lf-simple.pug
    .block-wrapper__el
      include ../blocks/living-facility/block-composition/_block-composition.pug
    .block-wrapper__el
      .block-lf
        .meshed-blocks    
          include ../blocks/living-facility/meshed-blocks/_meshed-block_text.pug
          include ../blocks/living-facility/meshed-blocks/_meshed-block_img.pug
          include ../blocks/living-facility/meshed-blocks/_meshed-block_contact.pug
    .block-wrapper__el
      .block-wrapper__el
        .block-lf
          include ../blocks/living-facility/animate-title/_animate-title.pug
    .block-wrapper__el
      .block-lf
        .sliderLf-mesh
          <div>
            //-include ../blocks/living-facility/slider-lf-sm/_slider-lf-sm.pug
            .sliderLf-sm.swiper-container
              .sliderLf-sm__wrapper.swiper-wrapper(data-fs-ctr)
                - var k = 0
                while k < 10
                  .sliderLf-sm__el.swiper-slide(data-fs-full data-fs-all="15" data-fs-title="10slides")
                    <div js-lazy>
                      img(src="img/living-facility/app-3.jpg" alt="")
                    </div>
                    .title-m.sliderLf-sm__badge Studio
                  - k++
              .control-inner
                .swiper-pagination.pag-tab
                button.slider-navigation-prev.slide-button.slide-button_horizontal
                  span 
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 15L2 8L9 1" stroke="#0F0F0F" stroke-width="1.5"/>
                    </svg>
                button.slider-navigation-next.slide-button.slide-button_horizontal
                  span 
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 15L2 8L9 1" stroke="#0F0F0F" stroke-width="1.5"/>
                    </svg>
            include ../blocks/living-facility/block-info/_block-info.pug
          </div>
          <div>
            .sliderLf-sm.swiper-container
              .sliderLf-sm__wrapper.swiper-wrapper(data-fs-ctr)
                - var k = 0
                while k < 10
                  .sliderLf-sm__el.swiper-slide(data-fs-full data-fs-all="11" data-fs-title="mop1")
                    <div js-lazy>
                      img(src="img/living-facility/app-4.jpg" alt="")
                    </div>
                    .title-m.sliderLf-sm__badge Studio
                  - k++
              .control-inner
                .swiper-pagination.pag-tab
                button.slider-navigation-prev.slide-button.slide-button_horizontal
                  span 
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 15L2 8L9 1" stroke="#0F0F0F" stroke-width="1.5"/>
                    </svg>
                button.slider-navigation-next.slide-button.slide-button_horizontal
                  span 
                    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9 15L2 8L9 1" stroke="#0F0F0F" stroke-width="1.5"/>
                    </svg>
            include ../blocks/living-facility/block-info/_block-info.pug
          </div>
  .block-wrapper.block-wrapper_color
    .block-lf
      include ../blocks/living-facility/block-descr/_block-descr.pug
    .block-wrapper__el.block-wrapper__bg
      .block-lf
        .block-title 
          .title-xxl Promotions and discounts
          a(href="#").button-icon.slide-button
            span
              |See all promotions
              img(src="/img/living-facility/lf-btn-icon.svg" alt="")
        include ../blocks/living-facility/block-discount/_block-discount.pug
        .block-title.block-title_mob
          a(href="#").button-icon
            |See all promotions
            img(src="/img/living-facility/lf-btn-icon.svg" alt="")
    .block-lf
      include ../blocks/living-facility/form-lf/_form-lf.pug
    .block-wrapper__el.block-wrapper__bg.block-wrapper__bgMob
      .block-lf
        .block-title 
          .title-xxl Construction progress
        include ../blocks/living-facility/carousel-lf/_carousel-lf.pug
    .block-wrapper__el.block-wrapper__mrBottomNo
      .block-lf.block-lf_noBorders 
        include ../blocks/living-facility/map-lf-colorful/_map-lf-colorful.pug
