.drop-blocks 
  .h1 Frequently asked questions
  .drop-blocks__inner
      .drop-el(drop-container) 
          .drop-el__title
              .h2 The windows are very high, how to wash them?
              .drop-el__icon
                  +svgIcon('arrow-down')
          .drop-el__inside(drop-content)
              .p1 
                  |There are two ways. The first is to order cleaning through the management company.
                  |Go to the application, in the "Services" section, select "window washing" and leave a request.
                  |Please note that this is a paid service, but its cost is usually lower than in
                  |average for the city. As soon as the management company collects the required number of requests, it will call industrial
                  |climbers who will wash all the windows in one day. The second way is to rent together with neighbors
                  |robot cleaner. You will only need to start the device without leaving your apartment and remove it
                  |after finishing work. It will wash four square meters of window in ten minutes.
      .drop-el(drop-container)
          .drop-el__title
              .h2 The windows are very high, how to wash them 22?
              .drop-el__icon
                  +svgIcon('arrow-down')
          .drop-el__inside(drop-content)
              .p1 
                  |There are two ways. The first is to order cleaning through the management company.
                  |Go to the application, in the "Services" section, select "window washing" and leave a request.
                  |Please note that this is a paid service, but its cost is usually lower than in
                  |average for the city. As soon as the management company collects the required number of requests, it will call industrial
                  |climbers who will wash all the windows in one day. The second way is to rent together with neighbors
                  |robot cleaner. You will only need to start the device without leaving your apartment and remove it
                  |after finishing work. It will wash four square meters of window in ten minutes.
      .drop-el(drop-container) 
          .drop-el__title
              .h2 The windows are very high, how to wash them 33
              .drop-el__icon
                  +svgIcon('arrow-down')
          .drop-el__inside(drop-content)
              .p1 
                  |There are two ways. The first is to order cleaning through the management company.
                  |Go to the application, in the "Services" section, select "window washing" and leave a request.
                  |Please note that this is a paid service, but its cost is usually lower than in
                  |average for the city. As soon as the management company collects the required number of requests, it will call industrial
                  |climbers who will wash all the windows in one day. The second way is to rent together with neighbors
                  |robot cleaner. You will only need to start the device without leaving your apartment and remove it
                  |after finishing work. It will wash four square meters of window in ten minutes.