.container 
  .ui-containers
    .ui-container
      .block-gap
        h1 Typography:
      .block-gap
        h1.h1 Title 1 level
      .block-gap
        h2.h2 Title 2 level
      .block-gap
        h3.h3 Title 3 level
      .block-gap
        p.p1 paragraph 1 level 
      .block-gap
        p.p2 paragraph 2 level
      .block-gap
        button.btn1 button 1 level
    .ui-container
      .block-gap
        h1 Buttons:
      .block-gap
        button.button-primary.btn1 Button primary
      .block-gap
        button.button-primary.button-primary-success
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.722 6.3081C21.1041 6.70684 21.0907 7.33986 20.6919 7.72199L9.56522 18.3851L3.3081 12.3887C2.90935 12.0065 2.89588 11.3735 3.27801 10.9748C3.66014 10.576 4.29316 10.5626 4.69191 10.9447L9.56522 15.6149L19.3081 6.27801C19.7068 5.89588 20.3399 5.90935 20.722 6.3081Z" fill="#282828"/>
          </svg>
      .block-gap
        button.button-primary.button-primary-error
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.7071 7.70711C18.0976 7.31658 18.0976 6.68342 17.7071 6.29289C17.3166 5.90237 16.6834 5.90237 16.2929 6.29289L12 10.5858L7.70711 6.29289C7.31658 5.90237 6.68342 5.90237 6.29289 6.29289C5.90237 6.68342 5.90237 7.31658 6.29289 7.70711L10.5858 12L6.29289 16.2929C5.90237 16.6834 5.90237 17.3166 6.29289 17.7071C6.68342 18.0976 7.31658 18.0976 7.70711 17.7071L12 13.4142L16.2929 17.7071C16.6834 18.0976 17.3166 18.0976 17.7071 17.7071C18.0976 17.3166 18.0976 16.6834 17.7071 16.2929L13.4142 12L17.7071 7.70711Z" fill="#282828"/>
          </svg>
      .block-gap
        button.button-primary.button-primary-progress
          <svg width="24" height="4" viewBox="0 0 24 4" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle opacity="0.1" cx="12" cy="2" r="2" fill="#282828"/>
            <circle opacity="0.1" cx="22" cy="2" r="2" fill="#282828"/>
            <circle cx="2" cy="2" r="2" fill="#282828"/>
          </svg>
      .block-gap
        button.button-secondary.btn1 Button secondary
      .block-gap
        button.button-secondary.button-secondary-success
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.722 6.3081C21.1041 6.70684 21.0907 7.33986 20.6919 7.72199L9.56522 18.3851L3.3081 12.3887C2.90935 12.0065 2.89588 11.3735 3.27801 10.9748C3.66014 10.576 4.29316 10.5626 4.69191 10.9447L9.56522 15.6149L19.3081 6.27801C19.7068 5.89588 20.3399 5.90935 20.722 6.3081Z" fill="#282828"/>
          </svg>
      .block-gap
        button.button-secondary.button-secondary-error
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.7071 7.70711C18.0976 7.31658 18.0976 6.68342 17.7071 6.29289C17.3166 5.90237 16.6834 5.90237 16.2929 6.29289L12 10.5858L7.70711 6.29289C7.31658 5.90237 6.68342 5.90237 6.29289 6.29289C5.90237 6.68342 5.90237 7.31658 6.29289 7.70711L10.5858 12L6.29289 16.2929C5.90237 16.6834 5.90237 17.3166 6.29289 17.7071C6.68342 18.0976 7.31658 18.0976 7.70711 17.7071L12 13.4142L16.2929 17.7071C16.6834 18.0976 17.3166 18.0976 17.7071 17.7071C18.0976 17.3166 18.0976 16.6834 17.7071 16.2929L13.4142 12L17.7071 7.70711Z" fill="#282828"/>
          </svg>
      .block-gap
        button.button-secondary.button-secondary-progress
          <svg width="24" height="4" viewBox="0 0 24 4" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle opacity="0.1" cx="12" cy="2" r="2" fill="#282828"/>
            <circle opacity="0.1" cx="22" cy="2" r="2" fill="#282828"/>
            <circle cx="2" cy="2" r="2" fill="#282828"/>
          </svg>
    .ui-container
      .block-gap
        h1 Tags:
      .block-gap
        .tag-text.p1 Text
      .block-gap
        .tag-text.tag-text-icon.p1
          .tag-text__icon
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.25 6.875V4.375C11.25 3.685 11.81 3.125 12.5 3.125H13.75V0H11.25C9.17875 0 7.5 1.67875 7.5 3.75V6.875H5V10H7.5V20H11.25V10H13.75L15 6.875H11.25Z" fill="#282828"/>
            </svg>
          p Text
      .block-gap 
        .accordeon-el(data-accordion = "2") Commercial premises
    .ui-container
      .block-gap
        h1 Icons:
      .block-gap
        .svg-icon-el
          .p1 instagram
          +svgIcon('svg-insta')
      .block-gap
        .svg-icon-el
          .p1 facebook
          +svgIcon('svg-face')
      .block-gap
        .svg-icon-el
          .p1 vkontakte
          +svgIcon('svg-vk')
      .block-gap
        .svg-icon-el
          .p1 classmates
          +svgIcon('svg-vk')
      .block-gap
        .svg-icon-el
          .p1 youtube
          +svgIcon('svg-youtube')
    .ui-container
      .block-gap
        h1 Icons:
      .block-gap
        .svg-icon-el
          .p1 telegram
          +svgIcon('svg-telegram')
      .block-gap
        .svg-icon-el
          .p1 star-inside
          +svgIcon('star-inside')
      .block-gap
        .svg-icon-el
          .p1 arrow-down
          +svgIcon('arrow-down')
      .block-gap
        .svg-icon-el
          .p1 svg-plus
          +svgIcon('svg-plus')
      .block-gap
        .svg-icon-el
          .p1 svg-minus
          +svgIcon('svg-minus')
    .ui-container
      .block-gap
        h1 Icons:
      .block-gap
        .svg-icon-el
          .p1 svg-male
          +svgIcon('svg-male')
      .block-gap
        .svg-icon-el
          .p1 svg-female
          +svgIcon('svg-female')
      .block-gap
        .svg-icon-el
          .p1 svg-cat
          +svgIcon('svg-cat')
      .block-gap
        .svg-icon-el
          .p1 svg-plant
          +svgIcon('svg-plant')
      .block-gap
        .svg-icon-el
          .p1 svg-basket
          +svgIcon('svg-basket')
    .ui-container
      .block-gap
        h1 Icons:
      .block-gap
        .svg-icon-el
          .p1 plus-inside
          +svgIcon('plus-inside')
      .block-gap
        .svg-icon-el
          .p1 plant-tree
          +svgIcon('plant-tree')
      .block-gap
        .svg-icon-el
          .p1 table-tools
          +svgIcon('table-tools')
      .block-gap
        .svg-icon-el
          .p1 svg-bus
          +svgIcon('svg-bus')
      .block-gap
        .svg-icon-el
          .p1 person-book
          +svgIcon('person-book')
    .ui-container
      .block-gap
        h1 Icons:
      .block-gap
        .svg-icon-el
          .p1 baby-basket
          +svgIcon('baby-basket')
      .block-gap
        .svg-icon-el
          .p1 star-inside-opacity
          +svgIcon('star-inside-opacity')
      .block-gap
        .svg-icon-el
          .p1 svg-load
          +svgIcon('svg-load')
      .block-gap
        .svg-icon-el
          .p1 svg-list
          +svgIcon('svg-list')
      .block-gap
        .svg-icon-el
          .p1 svg-heart
          +svgIcon('svg-heart')
    .ui-container
      .block-gap
        h1 Icons:
      .block-gap
        .svg-icon-el
          .p1 svg-check
          +svgIcon('svg-check')
      .block-gap
        .svg-icon-el
          .p1 svg-close
          +svgIcon('svg-close')
      .block-gap
        .svg-icon-el
          .p1 svg-cookie
          +svgIcon('svg-cookie')
      .block-gap
        .svg-icon-el
          .p1 svg-lock
          +svgIcon('svg-lock')  
  

