.filter__presets 
    a.preset-el(href="#")
        .tag-text.p1 All apartments
    a.preset-el(href="#")
        .tag-text.p1 Apartment with dressing room
    a.preset-el(href="#")
        .tag-text.p1 Apartment with a pantry in the kitchen
    a.preset-el(href="#")
        .tag-text.p1 Transformable apartment
    a.preset-el(href="#")
        .tag-text.p1 Apartment with windows on two sides
    a.preset-el(href="#")
        .tag-text.p1 With two loggias
    a.preset-el(href="#")
        .tag-text.p1 For a family with a child