.grid-solution
  - var n = 0
  while n < 5
    .grid-solution__el
      a(href="#").solution-block 
        .solution-block__img 
          img(src="img/house.png")
        .solution-block__text 
          .h3 Apartments with ready renovation and smart technologies → 
    - n++