.block-context
  .block-context__info 
    .title-xxxl
      |Here you can play
      |with children, take a walk before bed or spend time actively with loved ones.
    .title-xl
      |The entrance to the buildings is located at ground level -
      |Residents do not need to climb steps or ramps.
      |Modern equipment will be installed on the internal territory
      |children's playgrounds and sports grounds.
  .block-context__img
    <div js-lazy>
      <video class="" muted="muted" loop autoplay="autoplay" playsinline webkit-playsinline preload="auto" poster="img/living-facility/prev2.jpg">
        <source src="img/living-facility/home.webm" type="video/webm">
        <source src="img/living-facility/home.mp4" type="video/mp4">
      </video>
    </div>
    .block-context__img-title
      <button class="slider-navigation-next slide-button slide-button_horizontal">
        span
          <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 15L2 8L9 1" stroke="#0F0F0F" stroke-width="1.5"/>
          </svg>
      </button>
      .title-l Video tour of the residential complex "Neighbors"
