
.address-lf 
  .title-xxl Sales office
  .title-xl
    |249034, Kaluga region,
    |Obninsk, Polenova St., 9
  .address-lf__days 
    .title-s Working hours
    .title-l
      |Mon–Fri 9:00–19:00 <br> Sat–Sun 10:00–18:00
  .slides-button
    a(href="tel:+74842218490").slide-button
      span.title-l +7 484 221 84 90
    a(href="mailto:pro@novyigorod.ru").slide-button
      span.title-l pro@novyigorod.ru