.grid-video 
  - var n = 0
  while n < 5
    .grid-video__el 
      a(href="https://youtu.be/4AbO9uZYeyM?si=XsgEkWrc9ulD46x3" target="_blank").block-video
        .block-video__btn
        img(src="img/slider-blog-el-1.jpg" alt="")
    - n++