
section.blog-element  
  .container
    .blog-element__wrapper
      .blog-element__inner 
        h1.blog-element__title.blog__title.h1
          button.blog-element__back.p2 ← Go back
          |New City announces the start of sales in the new Country project
          .blog-element__social 
            button.blog-element__share 
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 5.33337C13.1046 5.33337 14 4.43794 14 3.33337C14 2.2288 13.1046 1.33337 12 1.33337C10.8954 1.33337 10 2.2288 10 3.33337C10 4.43794 10.8954 5.33337 12 5.33337Z" stroke="#25282B" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4 10.0001C5.10457 10.0001 6 9.10463 6 8.00006C6 6.89549 5.10457 6.00006 4 6.00006C2.89543 6.00006 2 6.89549 2 8.00006C2 9.10463 2.89543 10.0001 4 10.0001Z" stroke="#25282B" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 14.6667C13.1046 14.6667 14 13.7713 14 12.6667C14 11.5622 13.1046 10.6667 12 10.6667C10.8954 10.6667 10 11.5622 10 12.6667C10 13.7713 10.8954 14.6667 12 14.6667Z" stroke="#25282B" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.72668 9.00671L10.28 11.66" stroke="#25282B" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.2734 4.34003L5.72668 6.99336" stroke="#25282B" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              .social-links
                .social-links__title.p2 Share
                .social-links__wrapper
                  .social-links__el 
                    a.social-links__item(href="") 
                      <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.46836 9.5613C9.4542 9.71537 9.39418 9.86168 9.29608 9.98133C9.19797 10.101 9.06627 10.1885 8.91796 10.2325C8.76964 10.2766 8.61157 10.2753 8.46404 10.2286C8.31652 10.182 8.18628 10.0922 8.09027 9.97084C7.2464 9.29961 5.93034 8.33421 5.93034 8.33421C5.93034 8.33421 4.97802 10.0111 4.8077 10.183C4.75148 10.2304 4.68605 10.2655 4.61547 10.2861C4.5449 10.3067 4.47071 10.3123 4.39783 10.3026C4.32495 10.2929 4.25492 10.2681 4.19218 10.2298C4.12944 10.1914 4.07539 10.1404 4.03351 10.08C4.02437 10.0546 4.01669 10.0288 4.01035 10.0026L4.53675 7.33006L8.34582 3.5884L3.15091 6.55277C3.15091 6.55277 0.805123 5.85137 0.456735 5.71433C0.366864 5.66524 0.292751 5.59168 0.242963 5.50219C0.193175 5.4127 0.169814 5.31095 0.175485 5.2087C0.181157 5.10645 0.215621 5.00791 0.275 4.92448C0.33438 4.84104 0.416232 4.77613 0.510982 4.73728C1.00647 4.4849 9.74706 1.14658 10.0413 1.06064C10.3354 0.974707 11.1097 0.750964 11.0245 1.50425C10.9393 2.25754 9.55352 9.14788 9.46836 9.5613Z" fill="#282828"/>
                      </svg>
                  .social-links__el 
                    a.social-links__item(href="") 
                      <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.15657 1.11225V3.63381C7.15384 3.67547 7.16103 3.71717 7.1776 3.75549C7.19417 3.79381 7.21962 3.82763 7.25183 3.85418C7.28405 3.88072 7.3221 3.89923 7.36288 3.90816C7.40366 3.9171 7.44599 3.91619 7.48635 3.90554C7.71861 3.88928 8.24351 1.7378 8.47654 1.26863C8.60022 1.0041 8.79893 0.781739 9.04792 0.629159C9.12636 0.558103 9.22646 0.515551 9.33205 0.50838H11.5602C11.6202 0.518699 11.6766 0.54408 11.7241 0.582142C11.7717 0.620204 11.8088 0.669717 11.832 0.726028C11.8552 0.782338 11.8638 0.843615 11.8568 0.904124C11.8499 0.964633 11.8278 1.02238 11.7924 1.07199C11.6182 1.45909 10.124 3.86685 10.0466 3.9644C9.95342 4.09027 9.89062 4.236 9.86313 4.39019C9.89359 4.57242 9.9777 4.74143 10.1047 4.87562C10.2595 5.05059 11.5106 6.42788 11.6275 6.54401C11.7377 6.67052 11.8114 6.82469 11.8404 6.98994C11.8125 7.13081 11.7343 7.2567 11.6203 7.34405C11.5063 7.4314 11.3644 7.47422 11.2211 7.46452C10.7364 7.46452 9.54415 7.46452 9.4079 7.46452C9.13556 7.36922 8.88501 7.2205 8.67089 7.0271C8.4967 6.87226 7.851 6.13522 7.75423 6.03845C7.72147 5.99906 7.67962 5.96825 7.63227 5.94869C7.58492 5.92913 7.53348 5.92141 7.48248 5.9262C7.36635 5.9262 7.1457 5.93781 7.15577 6.3791C7.18353 6.68482 7.11939 6.99188 6.97153 7.26091C6.89594 7.33339 6.80635 7.38966 6.70824 7.42627C6.61012 7.46288 6.50554 7.47905 6.40095 7.47381C5.60904 7.52181 4.8215 7.32534 4.14495 6.91098C2.92637 6.15459 1.539 4.13317 0.893325 2.84336C0.508186 2.20301 0.270218 1.48503 0.196579 0.741408C0.235289 0.60515 0.235252 0.50916 0.37151 0.50916C0.507768 0.50916 2.22109 0.50916 2.38444 0.50916C2.49755 0.565204 2.59196 0.652873 2.65619 0.761538C2.71426 0.838958 3.15707 2.16438 3.29255 2.39741C3.42803 2.63045 4.09615 3.9071 4.45847 3.9071C4.57878 3.88348 4.68487 3.81325 4.75361 3.71173C4.82236 3.61022 4.84817 3.48563 4.82544 3.36516C4.82544 3.05548 4.82544 1.83303 4.82544 1.67742C4.67791 1.33431 4.40805 1.05835 4.0683 0.903226C4.15295 0.790784 4.26093 0.697982 4.3848 0.631167C4.50868 0.564352 4.64552 0.525106 4.78598 0.51613C5.2505 0.496775 6.41565 0.496765 6.66727 0.5347C6.80231 0.56104 6.92436 0.632598 7.0133 0.737581C7.10224 0.842564 7.15278 0.97471 7.15657 1.11225Z" fill="#282828"/>
                      </svg>
                  .social-links__el 
                    a.social-links__item(href="") 
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.0131 10.3168C12.96 10.3168 15.3681 8.00975 15.3681 5.15028C15.3513 2.30707 12.96 0 10.0131 0C7.06616 0 4.65809 2.30707 4.65809 5.16653C4.65809 8.00975 7.04932 10.3168 10.0131 10.3168ZM10.0131 3.02193C11.2424 3.02193 12.2359 3.9805 12.2359 5.16653C12.2359 6.33631 11.2424 7.29488 10.0131 7.29488C8.80065 7.29488 7.79027 6.33631 7.79027 5.16653C7.79027 3.9805 8.78381 3.02193 10.0131 3.02193Z" fill="#282828"/>
                        <path d="M12.1686 14.5248C13.2632 14.2811 14.3072 13.8749 15.2671 13.29C15.9912 12.8513 16.2269 11.909 15.7554 11.2104C15.3008 10.4955 14.3241 10.2843 13.6 10.7392C11.4108 12.0715 8.58173 12.0715 6.39258 10.7392C5.66847 10.2843 4.70861 10.4955 4.2371 11.2104C3.78243 11.909 4.00134 12.8513 4.72545 13.29C5.68531 13.8749 6.74621 14.2973 7.82395 14.5248L4.84333 17.4167C4.2371 18.0016 4.2371 18.9602 4.84333 19.5613C5.14644 19.8538 5.55059 20 5.95475 20C6.3589 20 6.76305 19.8538 7.06616 19.5613L9.99627 16.7181L12.9432 19.5613C13.5494 20.1462 14.543 20.1462 15.166 19.5613C15.7723 18.9764 15.7723 18.0179 15.166 17.4167L12.1686 14.5248Z" fill="#282828"/>
                      </svg>
                  .social-links__el 
                    a.social-links__item(href="") 
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8252 3.42821C18.6819 3.65887 19.3574 4.33407 19.5879 5.19065C20.0164 6.75522 19.9999 10.0165 19.9999 10.0165C19.9999 10.0165 19.9999 13.2611 19.5881 14.8258C19.3574 15.6823 18.682 16.3576 17.8252 16.5881C16.2602 17 9.99996 17 9.99996 17C9.99996 17 3.75609 17 2.17467 16.5718C1.3179 16.3411 0.642545 15.6658 0.411833 14.8094C0 13.2611 0 10 0 10C0 10 0 6.75522 0.411833 5.19065C0.642392 4.33422 1.33438 3.6424 2.17452 3.41189C3.73961 3 9.99981 3 9.99981 3C9.99981 3 16.2602 3 17.8252 3.42821ZM13.2124 9.99999L8.00659 12.9977V7.00233L13.2124 9.99999Z" fill="#282828"/>
                      </svg>
                  .social-links__el 
                    a.social-links__item(href="") 
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.75 0H6.25C2.79875 0 0 2.79875 0 6.25V13.75C0 17.2013 2.79875 20 6.25 20H13.75C17.2013 20 20 17.2013 20 13.75V6.25C20 2.79875 17.2013 0 13.75 0ZM18.125 13.75C18.125 16.1625 16.1625 18.125 13.75 18.125H6.25C3.8375 18.125 1.875 16.1625 1.875 13.75V6.25C1.875 3.8375 3.8375 1.875 6.25 1.875H13.75C16.1625 1.875 18.125 3.8375 18.125 6.25V13.75Z" fill="#282828"/>
                        <path d="M10 5C7.23875 5 5 7.23875 5 10C5 12.7612 7.23875 15 10 15C12.7612 15 15 12.7612 15 10C15 7.23875 12.7612 5 10 5ZM10 13.125C8.2775 13.125 6.875 11.7225 6.875 10C6.875 8.27625 8.2775 6.875 10 6.875C11.7225 6.875 13.125 8.27625 13.125 10C13.125 11.7225 11.7225 13.125 10 13.125Z" fill="#282828"/>
                        <path d="M14.9375 5.8125C15.5934 5.8125 16.1251 5.28083 16.1251 4.62498C16.1251 3.96913 15.5934 3.43746 14.9375 3.43746C14.2817 3.43746 13.75 3.96913 13.75 4.62498C13.75 5.28083 14.2817 5.8125 14.9375 5.8125Z" fill="#282828"/>
                      </svg>
                  .social-links__el 
                    a.social-links__item(href="") 
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.25 6.875V4.375C11.25 3.685 11.81 3.125 12.5 3.125H13.75V0H11.25C9.17875 0 7.5 1.67875 7.5 3.75V6.875H5V10H7.5V20H11.25V10H13.75L15 6.875H11.25Z" fill="#282828"/>
                      </svg>
                  .social-links__el 
                    a.social-links__item(href="") 
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.25 6.875V4.375C11.25 3.685 11.81 3.125 12.5 3.125H13.75V0H11.25C9.17875 0 7.5 1.67875 7.5 3.75V6.875H5V10H7.5V20H11.25V10H13.75L15 6.875H11.25Z" fill="#282828"/>
                      </svg>
                  .social-links__el 
                    a.social-links__item(href="") 
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.25 6.875V4.375C11.25 3.685 11.81 3.125 12.5 3.125H13.75V0H11.25C9.17875 0 7.5 1.67875 7.5 3.75V6.875H5V10H7.5V20H11.25V10H13.75L15 6.875H11.25Z" fill="#282828"/>
                      </svg>
            span.blog-element__data.p2  
              |2April 22, 2023
        ul.blog-element__list
          li.blog-element__item
            a.blog-element__link.h3(href="#anchor-1")
              |1. New City announces the start of sales in the new Country project
          li.blog-element__item
            a.blog-element__link.h3(href="#anchor-2")
              |2. An apartment in New Town - to each his own!
          li.blog-element__item
            a.blog-element__link.h3(href="")
              |3. We continue to operate uninterrupted online and do not reduce the pace of construction.
          li.blog-element__item
            a.blog-element__link.h3(href="")
              |4. Start of sales of underground parking in the residential complex "New City"
        .blog-element__picture(js-lazy) 
          <picture>
            <source media="(min-width:768px)" srcset="img/blog-el-img-1.jpg">
            <source media="(max-width:768px)" srcset="img/blog-el-img-1.jpg">
            <img data-src="img/blog-el-img-1.jpg" alt="main image 1">
          </picture>
        .blog-element__content 
          h2.blog-element__subtitle.h2(id="anchor-1")
            |New City announces the start of sales in the new Country project
          .blog-element__text 
            p.p1
              |A car also needs a roof over its head, especially in our weather conditions.
              |We announce the start of sales of parking spaces for residents
              |Cascade 22 and Cascade 21! An important advantage is access to the underground parking from the elevator.
            p.p1
              |Buyers will receive a special gift - a special offer on the Privilege Card with increased cashback!
            p.p1
              |Call us and our specialists will help you find the perfect tom for you and your car:
          .video-section  
            a(href="https://www.youtube.com/watch?v=4AbO9uZYeyM" target="_blank")
              img(src="img/video-preview.jpg" alt="youtube poster")
              .video-section__icon 
                <svg width="64" height="46" viewBox="0 0 64 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M57.0408 1.97038C59.782 2.70849 61.9436 4.86911 62.6814 7.61017C64.0525 12.6168 63.9997 23.0528 63.9997 23.0528C63.9997 23.0528 63.9997 33.4356 62.6819 38.4428C61.9436 41.1833 59.7825 43.3444 57.0408 44.0821C52.0325 45.4001 31.9999 45.4001 31.9999 45.4001C31.9999 45.4001 12.0195 45.4001 6.95896 44.0298C4.21727 43.2917 2.05614 41.1306 1.31787 38.39C0 33.4356 0 23.0001 0 23.0001C0 23.0001 0 12.6168 1.31787 7.61017C2.05566 4.8696 4.27 2.65577 6.95847 1.91815C11.9667 0.600098 31.9994 0.600098 31.9994 0.600098C31.9994 0.600098 52.0325 0.600098 57.0408 1.97038ZM42.2798 23.0001L25.6211 32.5926V13.4076L42.2798 23.0001Z" fill="#C4302B"/>
                  <path d="M42.2798 23L25.6211 32.5925V13.4075L42.2798 23Z" fill="white"/>
                </svg>
        .blog-element__content 
          h2.blog-element__subtitle.h2(id="anchor-2")
            |An apartment in New Town - to each his own!
          .blog-element__text 
            p.p1
              |A car also needs a roof over its head, especially in our weather conditions.
              |We announce the start of sales of parking spaces for residents
              |Cascade 22 and Cascade 21! An important advantage is access to the underground parking from the elevator.
            p.p1
              |Buyers will receive a special gift - a special offer on the Privilege Card with increased cashback!
            p.p1
              |Call us and our specialists will help you find the perfect tom for you and your car:
              a.h3(href="tel:88005118164")
                |8 800 511-81-64
        .company-info 
          .company-info__img(js-lazy)  
            img(src="img/company-img-1.jpg")
          .company-info__text 
            p.p1
              |On behalf of the New City group of companies and myself, I would like to inform you that we are continuing
              |uninterrupted work online and do not reduce the pace of construction.
            h3.h3.company-info__title
              |Head of Sales Department, I.I. Ivanova
        .blog-element__content 
          .blog-element__text 
            p.p1
              |A car also needs a roof over its head, especially in our weather conditions.
              |We announce the start of sales of parking spaces for residents
              |Cascade 22 and Cascade 21! An important advantage is access to the underground parking from the elevator.
            p.p1
              |Buyers will receive a special gift - a special offer on the Privilege Card with increased cashback!
            p.p1
              |Call us and our specialists will help you find the perfect tom for you and your car:
              a.h3(href="tel:88005118164")
                |8 800 511-81-64
        include ../blocks/blog-slider/_blog-slider.pug
        .blog-element__content 
          .blog-element__text 
            p.p1
              |A car also needs a roof over its head, especially in our weather conditions.
              |We announce the start of sales of parking spaces for residents
              |Cascade 22 and Cascade 21! An important advantage is access to the underground parking from the elevator.
            p.p1
              |Buyers will receive a special gift - a special offer on the Privilege Card with increased cashback!
            p.p1
              |Call us and our specialists will help you find the perfect tom for you and your car:
              a.h3(href="tel:88005118164")
                |8 800 511-81-64
      .element-banner.element-banner_start
        a(href="#").element-banner__block(js-lazy)
          img(src="img/slider-blog-el-1.jpg" alt="")
      .element-banner 
        a(href="#").element-banner__block(js-lazy) 
          img(src="img/slider-blog-el-2.jpg" alt="")
      .element-banner 
        a(href="#").element-banner__block(js-lazy) 
          img(src="img/slider-blog-el-3.jpg" alt="")
      .element-banner 
        a(href="#").element-banner__block(js-lazy) 
          img(src="img/slider-blog-el-4.jpg" alt="")
    .posts 
      .posts__control
        h2.posts__title.h1
          |Read more
        button.posts__more.btn1.button-secondary 
          |All publications
      include ../blocks/blog-list/_blog-list.pug
      