.trade-mesh 
  - var n = 0;
  while n < 5
    .block-trade
      img(src="img/umniy-dom.svg" alt="")
      .h2 Total saving
      .p1
        |When selling an old apartment, you spend time and money on preparation,
        |search for a buyer and "paper" procedures. With the trade-in program from the company "New City" you
        |free from these claps from. You just get the result - fast and free
    - n++