.project-block
	a(href="https://novyigorod.ru/#catalog/house/101744/smallGrid?filter=property.status:AVAILABLE" target="_blank").project-block__img 
		img(src="img/project-block-img.jpg" alt="")
	.project-block__body 
		.el-body
			.el-body__el 
				.prom-h2 Cascade 20
				.prom-p1-medium from 10.8 million ₽
			.el-body__el
				.prom-p2 IV QV 2023
				.prom-p2-medium Read more
			hr.prom-hr
			.el-body__el
				.prom-p2-medium Studios
				.prom-p2-medium from 5,8 million ₽
			.el-body__el
				.prom-p2-medium 1-room apartments
				.prom-p2-medium from 7,8 million ₽
			.el-body__el
				.prom-p2-medium 2-room apartments
				.prom-p2-medium from 8,8 million ₽
			.el-body__el
				.prom-p2-medium 3-room apartments
				.prom-p2-medium from 12,8 million ₽
			hr.prom-hr
			.el-body__el
				.prom-p3 Check-in to 01.12.2024
				.prom-p3 With finishing