.titles-mesh 
	.titles-mesh__item 
		.h1 150 000 
		.p2 sq. m of landscaped area
	.titles-mesh__item 
		.h1 > 10
		.p2 types of planning solutions
	.titles-mesh__item 
		.h1 284
		.p2 apartments available
	.titles-mesh__item 
		.h1 200
		.p2 apartments sold