section.installment 
  include ../blocks/consultation-modal/_consultation-modal.pug
  include ../blocks/quiz/_quiz.pug
  .main-title
    h1.blog__title.h1.content-hide Mortgage
  .container 
    .block-page
      .h1.block-page__title Benefits of installment payments
      include ../blocks/installment-grid/_installment-grid.pug
      include ../blocks/installment-info/_installment-info.pug