
.block-descr(js-lazy)
  .block-sm-text 
    h2.title-xxl.title-xxl_mobhidden finishing White box
    .title-xl
      |The developer does the dirty and loud work,
      |and all you have to do is choose the colors of the future
      |interior and finishing coatings.
  
    .title-l-bold The cost is included in the contract
    .title-m
      |The cost of white box finishing is included
      |equity participation agreement —
      |you can get it on a mortgage

    .title-l-bold Save up to 30%
    .title-m
      |white box finishing allows you to save at least 30%
      |on the cost of repairs and tens of hours of your time

    .title-l-bold Possibility of individualization
    .title-m
      |You will be able to choose finishing materials and colors to suit your taste.
  h2.title-xxl.title-xxl_deskhidden White box finishing
  img(src="img/living-facility/descr-img.jpg" alt="")


  //- .block-lf.block-fl_bg.block-lf_bgnomob
  //-   .block-lf__container
  //-     .block-descr
  //-       .block-sm-text 
  //-         h2.title-xxl fromделка White box
  //-         .title-xl
  //-           |Грязные и громкие рабfromы сделает застройщик,
  //-           |а вам останется выбрать цвета будущего
  //-           |интерьера и финишные покрытия.
        
  //-         .title-l-bold Стоимость включен в toговор
  //-         .title-m
  //-           |Стоимость fromделки white box включена в
  //-           |toговор toлевого участия —
  //-           |вы можете получить ее в ипfromеку

  //-         .title-l-bold Экономия to 30%
  //-         .title-m
  //-           |fromделка white box позволяет сэкономить не менее 30%
  //-           |на стоимости ремонта и десятки часов вашего времени

  //-         .title-l-bold Возможность индивидуализации
  //-         .title-m
  //-           |Вы сможете выбрать fromделочные материалы и цветовую гамму по своему вкусу
  //-       img(src="img/living-facility/descr-img.jpg" alt="")
  //- .block-lf.block-lf_bg
  //-   .block-lf__container
  //-     .block-descr
  //-       .block-sm-text 
  //-         h2.title-xxl fromделка White box
  //-         .title-xl
  //-           |Грязные и громкие рабfromы сделает застройщик,
  //-           |а вам останется выбрать цвета будущего
  //-           |интерьера и финишные покрытия.
        
  //-         .title-l-bold Стоимость включен в toговор
  //-         .title-m
  //-           |Стоимость fromделки white box включена в
  //-           |toговор toлевого участия —
  //-           |вы можете получить ее в ипfromеку

  //-         .title-l-bold Экономия to 30%
  //-         .title-m
  //-           |fromделка white box позволяет сэкономить не менее 30%
  //-           |на стоимости ремонта и десятки часов вашего времени

  //-         .title-l-bold Возможность индивидуализации
  //-         .title-m
  //-           |Вы сможете выбрать fromделочные материалы и цветовую гамму по своему вкусу
  //-       img(src="img/living-facility/descr-img.jpg" alt="")
  //- .block-lf.block-lf_bg.block-lf_pdbottom
  //-   .block-lf__container
  //-     .block-descr
  //-       .block-sm-text 
  //-         h2.title-xxl fromделка White box
  //-         .title-xl
  //-           |Грязные и громкие рабfromы сделает застройщик,
  //-           |а вам останется выбрать цвета будущего
  //-           |интерьера и финишные покрытия.
        
  //-         .title-l-bold Стоимость включен в toговор
  //-         .title-m
  //-           |Стоимость fromделки white box включена в
  //-           |toговор toлевого участия —
  //-           |вы можете получить ее в ипfromеку

  //-         .title-l-bold Экономия to 30%
  //-         .title-m
  //-           |fromделка white box позволяет сэкономить не менее 30%
  //-           |на стоимости ремонта и десятки часов вашего времени

  //-         .title-l-bold Возможность индивидуализации
  //-         .title-m
  //-           |Вы сможете выбрать fromделочные материалы и цветовую гамму по своему вкусу
  //-       img(src="img/living-facility/descr-img.jpg" alt="")