.info-video 
  .block-text 
      .block-text__inner
          .h2 Exchange your old apartment for a new one quickly and profitably
          .p1 
          |We will save you the hassle of selling your old apartment!
          |Use the Trade-in service from Novy Gorod - we will carry out the transaction
          |selling your apartment while simultaneously purchasing the selected apartment in a new building.
  .info-video__video 
      a(href="https://youtu.be/4AbO9uZYeyM?si=XsgEkWrc9ulD46x3" target="_blank").block-video
          .block-video__btn
          img(src="img/b-img-1.jpg" alt="")