.select-fields
  <div class="select-fields__wrapper">
    p.select-fields__wrapper-text Balcony
    .select-fields__wrapper-list
      label
        p No balcony
        input(placeholder="No balcony" type="checkbox")
      label
        p There is a balcony
        input(placeholder="There is a balcony" type="checkbox")
      label
        p To the Balcony
        input(placeholder="To the Balcony" type="checkbox")
      label
        p Loggia
        input(placeholder="Loggia" type="checkbox") 
  </div>