.main-banner 
  .main-banner__text 
    .h1 Tired of choosing an apartment?
      span.p1 Answer 4 questions in 5 minutes and get a ready selection from our manager
  button.btn1.button-secondary Start