.block-text 
  .block-text__inner
    .h2 What kind of apartments do we accept?
    .block-text__lists
      ol 
        li.p1 Apartment in ownership
        li.p1 An apartment in a new building
        li.p1 Exchange an apartment
        li.p1 An entire apartment, not a room or share, a room in a dormitory
        li.p1 An apartment in an apartment building not older than 1990
      ol 
        li.p1 An entire apartment, not a room or share, a room in a dormitory
        li.p1 Apartment in Obninsk
        li.p1 If the apartment is in a building under construction under a DDU. We accept apartments in a building under construction with a construction completion date of up to 1.5 years from the date of the transaction