.block-list
  .block-list__img(js-lazy)
    img(src="img/block-list-pic.jpg" alt="")
  .block-list__items 
    .h1.block-page__title How does this work?
    ul 
      li 
        .brief-info__top-el
          <div>
            span
              p.h1 1
            .p1 Choose a new apartment in one of the residential complexes of the New City
          </div>
      li 
        .brief-info__top-el
          <div>
            span
              p.h1 2
            .p1 We will evaluate your apartment
          </div>
      li 
        .brief-info__top-el
          <div>
            span
              p.h1 3
            .p1 Apartment redemption/Sale through partner agencies
          </div>
      li 
        .brief-info__top-el
          <div>
            span
              p.h1 4
            .p1 Apartment redemption/Sale through partner agencies
          </div>