.navigate-links 
  a.navigate-links__el.navigation-active(href="#") 
      p 1
  a.navigate-links__el(href="#")
      p 2
  a.navigate-links__el(href="#")
      p 3
  .navigate-links__el.navigate-links__dots
      p 
      p 
      p
  a.navigate-links__el(href="#")
      p 20