
.block-main
  //- <div class="img-wrapper" js-lazy>
  //-   img(src="img/living-facility/block-main-img.jpg" alt="")
  //- </div>
  //-img(src="img/living-facility/block-main-img.jpg" alt="")
  .block-lf
    .block-main__info
      .block-main__text
        .h1-lf RC "Neighbors"
        .title-m d. Kabitsyno, microdistrict Neighbors
      .random-block
        .random-lf.random-lf_start(data-randomLf="0")
          .title-xl Hot prices 11
          .title-m
            |3-room apartment for 7.7 million.
            |Choose an apartment first! 111
          a(href="#").button-icon
            |Select an apartment
            img(src="/img/living-facility/svg-arrow-white.svg" alt="")
        .random-lf(data-randomLf="1")
          .title-xl Hot prices 122
          .title-m
            |333-room apartment for 766.7 million.
            |Choose an apartment first! 333
          a(href="#").button-icon
            |Select an apartment
            img(src="/img/living-facility/svg-arrow-white.svg" alt="")
        .random-lf(data-randomLf="2")
          .title-xl Hot prices 33
          .title-m
            |222-room apartment for 755.7 million.
            |Choose an apartment first! 22
          a(href="#").button-icon
            |Select an apartment
            img(src="/img/living-facility/svg-arrow-white.svg" alt="")
  <div class="img-wrapper" js-lazy>
    //-img(src="img/living-facility/block-main-img.jpg" alt="")
    <video class="" muted="muted" loop autoplay="autoplay" playsinline webkit-playsinline preload="auto" poster="img/living-facility/prev1.jpg">
      <source src="img/living-facility/home-vid.webm" type="video/webm">
      <source src="img/living-facility/home-vid.mp4" type="video/mp4">
  </video>
  </div>