include ./utilities/_mixins
doctype html
html(lang="en")
  head()
    include ./shared/_head

  body    
    .body-wrapper
      include ./../components/header/_header

      .page
        include ../components/test-page/_test-page

      include ./../components/footer/_footer
      include ./../components/modals/_modals

    block scripts
      include ./shared/_scripts
    include ./shared/_pages-list