.mesh-block.mesh-block_img
  //-img(src="/img/living-facility/mesh-block.jpg" alt="")
  <video class="" muted="muted" loop autoplay="autoplay" playsinline webkit-playsinline preload="auto" poster="/img/living-facility/prev3.jpg">
    <source src="img/living-facility/mesh.webm" type="video/webm">
    <source src="img/living-facility/mesh.webm" type="video/mp4">
  </video>