
header.header
  .header-menu
    .header-menu__inner 
      ul.footer__list.footer__list-first
        li.footer__list-el.footer__list-elActive
          a.footer__list-link.p1(href="https://novyigorod.ru/" target="_blank")
            .footer__list-counted
              p 78
            |RC New city
        li.footer__list-el.footer__list-elActive
          a.footer__list-link.p1(href="https://novyigorod.ru/objekty/sosedi/" target="_blank")
            .footer__list-counted
              p 78
            |RC Neighbors
        li.footer__list-el.footer__list-elActive.counted
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 458
            |All apartments
        li.footer__list-el.counted
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 12
            |Studios
        li.footer__list-el.counted
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 32
            |One-room
        li.footer__list-el.counted
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 28
            |Two-room
        li.footer__list-el.counted
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 28
            |Three-room
        li.footer__list-el.counted
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 28
            |Four-room
        li.footer__list-el.counted
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 28
            |Storerooms
        li.footer__list-el
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 90
            |Parking
        li.footer__list-el.footer__list-elActive
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 78
            |Commercial real estate
      ul.footer__list.footer__list-second.list-hidden
        li.footer__list-el.footer__list-elActive
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 288
            |About projects
        li.footer__list-el.footer__list-elActive
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 311
            |Methods of purchase
        li.footer__list-el
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 311
            |Mortgage
        li.footer__list-el
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 10
            |Trade-in
        li.footer__list-el
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 111
            |100% payment
        li.footer__list-el
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 99
            |Maternity capital
        li.footer__list-el
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 77
            |Installment plan
        li.footer__list-el.special-offer
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 323
            |Online purchase
        li.footer__list-el.footer__list-elActive
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 212
            |Promotions and discounts
      ul.footer__list.footer__list-third.list-hidden
        li.footer__list-el.footer__list-elActive
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 311
            |About the company
        li.footer__list-el
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 311
            |Sales office
        li.footer__list-el
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 311
            |Privilege card
        li.footer__list-el.counted
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 311
            |Video
        li.footer__list-el
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 311
            |Management company
        li.footer__list-el
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 311
            |Documents
        li.footer__list-el.counted
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 311
            |Contacts
        li.footer__list-el.footer__list-elActive
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 311
            |News
        li.footer__list-el.footer__list-elActive
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 311
            |Blog
        li.footer__list-el.footer__list-elActive
          a.footer__list-link.p1(href="#")
            .footer__list-counted
              p 311
            |Privacy Policy
      ul.footer__list.footer__list-fourth
        li.footer__list-el.footer__list-elActive
          a.footer__list-link.p1(href="tel:88005506831") 8 800 550-68-31
        li.footer__list-el
          a.footer__list-link.p1(href="#") Request a call
        li.footer__list-el.p1
          |Kaluga region, Obninsk, Polenova st., 9
        li.footer__list-el.p1
          |Mon–Fri 9:00 to 19:00 Sat–Sun 10:00 to 18:00
        li.footer__list-el
          a.footer__list-link.p1(href="mailto:pro@novyigorod.ru") pro@novyigorod.ru
        li.footer__list-el
          .footer__socials 
            a.footer__socials-link(href="#")
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.75 0H6.25C2.79875 0 0 2.79875 0 6.25V13.75C0 17.2013 2.79875 20 6.25 20H13.75C17.2013 20 20 17.2013 20 13.75V6.25C20 2.79875 17.2013 0 13.75 0ZM18.125 13.75C18.125 16.1625 16.1625 18.125 13.75 18.125H6.25C3.8375 18.125 1.875 16.1625 1.875 13.75V6.25C1.875 3.8375 3.8375 1.875 6.25 1.875H13.75C16.1625 1.875 18.125 3.8375 18.125 6.25V13.75Z" fill="#282828"/>
                <path d="M10 5C7.23875 5 5 7.23875 5 10C5 12.7612 7.23875 15 10 15C12.7612 15 15 12.7612 15 10C15 7.23875 12.7612 5 10 5ZM10 13.125C8.2775 13.125 6.875 11.7225 6.875 10C6.875 8.27625 8.2775 6.875 10 6.875C11.7225 6.875 13.125 8.27625 13.125 10C13.125 11.7225 11.7225 13.125 10 13.125Z" fill="#282828"/>
                <path d="M14.9375 5.8125C15.5934 5.8125 16.1251 5.28083 16.1251 4.62498C16.1251 3.96913 15.5934 3.43746 14.9375 3.43746C14.2817 3.43746 13.75 3.96913 13.75 4.62498C13.75 5.28083 14.2817 5.8125 14.9375 5.8125Z" fill="#282828"/>
                </svg>
            a.footer__socials-link(href="#")
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.25 6.875V4.375C11.25 3.685 11.81 3.125 12.5 3.125H13.75V0H11.25C9.17875 0 7.5 1.67875 7.5 3.75V6.875H5V10H7.5V20H11.25V10H13.75L15 6.875H11.25Z" fill="#282828"/>
              </svg>
            a.footer__socials-link(href="#")
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.8217 14.4728C19.768 14.3828 19.4355 13.6602 17.8354 12.1751C16.1602 10.62 16.3852 10.8725 18.4029 8.18358C19.6317 6.54596 20.123 5.54588 19.9693 5.11835C19.823 4.71082 18.9192 4.81833 18.9192 4.81833L15.914 4.83583C15.914 4.83583 15.6914 4.80583 15.5252 4.90458C15.3639 5.00209 15.2602 5.22711 15.2602 5.22711C15.2602 5.22711 14.7839 6.4947 14.1488 7.57228C12.81 9.8462 12.2737 9.96621 12.0549 9.82495C11.5461 9.49618 11.6736 8.50235 11.6736 7.7973C11.6736 5.59339 12.0074 4.67457 11.0223 4.43705C10.6948 4.35829 10.4548 4.30579 9.61849 4.29704C8.54591 4.28579 7.6371 4.30079 7.12331 4.55206C6.78078 4.71957 6.51701 5.09335 6.67827 5.1146C6.87704 5.14085 7.32707 5.23586 7.56584 5.56088C7.87461 5.97966 7.86336 6.92223 7.86336 6.92223C7.86336 6.92223 8.04088 9.51618 7.44958 9.8387C7.0433 10.06 6.48701 9.60868 5.29317 7.54478C4.68188 6.48845 4.21934 5.31962 4.21934 5.31962C4.21934 5.31962 4.13059 5.1021 3.97182 4.98584C3.77931 4.84458 3.50929 4.79958 3.50929 4.79958L0.651577 4.81708C0.651577 4.81708 0.222796 4.82958 0.0652839 5.01584C-0.0747265 5.18211 0.0540331 5.52463 0.0540331 5.52463C0.0540331 5.52463 2.2917 10.7588 4.82439 13.3977C7.14831 15.8166 9.78601 15.6579 9.78601 15.6579H10.9811C10.9811 15.6579 11.3424 15.6179 11.5261 15.4191C11.6961 15.2366 11.6899 14.8941 11.6899 14.8941C11.6899 14.8941 11.6661 13.2902 12.4112 13.0539C13.145 12.8214 14.0876 14.6041 15.0864 15.2904C15.8415 15.8091 16.4152 15.6954 16.4152 15.6954L19.0867 15.6579C19.0867 15.6579 20.4843 15.5716 19.8217 14.4728Z" fill="#282828"/>
              </svg>
            a.footer__socials-link(href="#")
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.0131 10.3168C12.96 10.3168 15.3681 8.00975 15.3681 5.15028C15.3513 2.30707 12.96 0 10.0131 0C7.06616 0 4.65809 2.30707 4.65809 5.16653C4.65809 8.00975 7.04932 10.3168 10.0131 10.3168ZM10.0131 3.02193C11.2424 3.02193 12.2359 3.9805 12.2359 5.16653C12.2359 6.33631 11.2424 7.29488 10.0131 7.29488C8.80065 7.29488 7.79027 6.33631 7.79027 5.16653C7.79027 3.9805 8.78381 3.02193 10.0131 3.02193Z" fill="#282828"/>
                <path d="M12.1686 14.5248C13.2632 14.2811 14.3072 13.8749 15.2671 13.29C15.9912 12.8513 16.2269 11.909 15.7554 11.2104C15.3008 10.4955 14.3241 10.2843 13.6 10.7392C11.4108 12.0715 8.58173 12.0715 6.39258 10.7392C5.66847 10.2843 4.70861 10.4955 4.2371 11.2104C3.78243 11.909 4.00134 12.8513 4.72545 13.29C5.68531 13.8749 6.74621 14.2973 7.82395 14.5248L4.84333 17.4167C4.2371 18.0016 4.2371 18.9602 4.84333 19.5613C5.14644 19.8538 5.55059 20 5.95475 20C6.3589 20 6.76305 19.8538 7.06616 19.5613L9.99627 16.7181L12.9432 19.5613C13.5494 20.1462 14.543 20.1462 15.166 19.5613C15.7723 18.9764 15.7723 18.0179 15.166 17.4167L12.1686 14.5248Z" fill="#282828"/>
              </svg>
            a.footer__socials-link(href="#")
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8252 3.42821C18.6819 3.65887 19.3574 4.33407 19.5879 5.19065C20.0164 6.75522 19.9999 10.0165 19.9999 10.0165C19.9999 10.0165 19.9999 13.2611 19.5881 14.8258C19.3574 15.6823 18.682 16.3576 17.8252 16.5881C16.2602 17 9.99996 17 9.99996 17C9.99996 17 3.75609 17 2.17467 16.5718C1.3179 16.3411 0.642545 15.6658 0.411833 14.8094C0 13.2611 0 10 0 10C0 10 0 6.75522 0.411833 5.19065C0.642392 4.33422 1.33438 3.6424 2.17452 3.41189C3.73961 3 9.99981 3 9.99981 3C9.99981 3 16.2602 3 17.8252 3.42821ZM13.2124 9.99999L8.00659 12.9977V7.00233L13.2124 9.99999Z" fill="#282828"/>
              </svg>
  .container
    .header__inner 
      .header__logo 
        <img src="img/city-logo.png" alt="">
        //- <svg width="175" height="50" viewBox="0 0 175 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        //-   <g clip-path="url(#clip0_4210_55916)">
        //-   <path d="M63.9376 20.125V30.875H61.6876V26.5H57.0626V30.875H54.7501V20.125H57.0626V24.4375H61.6876V20.125H63.9376Z" fill="#282828"/>
        //-   <path d="M67.75 29.5C66.625 28.375 66.0625 27.0625 66.0625 25.5C66.0625 23.9375 66.625 22.625 67.75 21.5625C68.875 20.4375 70.25 19.9375 71.875 19.9375C73.5 19.9375 74.875 20.5 76 21.5625C77.125 22.6875 77.6875 24 77.6875 25.5C77.6875 27.0625 77.125 28.375 76 29.5C74.875 30.625 73.5 31.125 71.875 31.125C70.25 31.125 68.875 30.5625 67.75 29.5ZM69.5 23C68.8125 23.6875 68.5 24.5 68.5 25.5C68.5 26.5 68.8125 27.3125 69.5 28C70.1875 28.6875 71 29 71.9375 29C72.875 29 73.6875 28.6875 74.375 28C75.0625 27.3125 75.375 26.5 75.375 25.5C75.375 24.5 75.0625 23.6875 74.375 23C73.6875 22.3125 72.875 22 71.9375 22C70.9375 21.9375 70.125 22.3125 69.5 23Z" fill="#282828"/>
        //-   <path d="M84.75 30.875H79.875V20.125H84.5C85.5 20.125 86.25 20.4375 86.9375 21C87.5625 21.5625 87.875 22.25 87.875 23C87.875 23.3125 87.8125 23.5625 87.75 23.8125C87.6875 24.0625 87.5625 24.3125 87.4375 24.4375C87.3125 24.625 87.1875 24.75 87.0625 24.875C86.9375 25 86.8125 25.0625 86.75 25.125L86.625 25.1875C86.6875 25.1875 86.75 25.25 86.8125 25.25C86.875 25.3125 87 25.375 87.25 25.5C87.4375 25.625 87.625 25.8125 87.8125 26C87.9375 26.1875 88.125 26.4375 88.25 26.6875C88.375 27 88.4375 27.3125 88.4375 27.6875C88.4375 28.5625 88.125 29.3125 87.4375 29.9375C86.6875 30.5625 85.8125 30.875 84.75 30.875ZM84.3125 22H82.1875V24.375H84.3125C84.6875 24.375 85 24.25 85.1875 24.0625C85.375 23.875 85.5 23.5625 85.5 23.25C85.5 22.875 85.375 22.625 85.1875 22.4375C85 22.125 84.6875 22 84.3125 22ZM82.1875 28.9375H84.625C85.0625 28.9375 85.375 28.8125 85.6875 28.5625C85.9375 28.3125 86.125 28 86.125 27.5625C86.125 27.1875 86 26.8125 85.6875 26.5625C85.4375 26.3125 85.0625 26.1875 84.625 26.1875H82.1875V28.9375Z" fill="#282828"/>
        //-   <path d="M94.875 30.875H90.5V20.125H92.8125V23.6875H94.875C96 23.6875 96.875 24.0625 97.625 24.75C98.375 25.4375 98.6875 26.3125 98.6875 27.3125C98.6875 28.3125 98.3125 29.1875 97.625 29.875C96.875 30.5625 96 30.875 94.875 30.875ZM92.8125 28.8125H94.8125C95.25 28.8125 95.625 28.6875 95.9375 28.375C96.25 28.0625 96.375 27.6875 96.375 27.25C96.375 26.8125 96.25 26.4375 95.9375 26.1875C95.625 25.875 95.25 25.75 94.8125 25.75H92.8125V28.8125ZM102.25 30.875H99.9375V20.125H102.25V30.875Z" fill="#282828"/>
        //-   <path d="M114.562 30.875H112.25V24.0625L107 30.875H105V20.125H107.25V26.9375L112.563 20.125H114.562V30.875Z" fill="#282828"/>
        //-   <path d="M120.438 30.875V20.125H127.688V22.1875H122.75V30.875H120.438Z" fill="#282828"/>
        //-   <path d="M130 29.5C128.875 28.375 128.312 27.0625 128.312 25.5C128.312 23.9375 128.875 22.625 130 21.5625C131.125 20.4375 132.5 19.9375 134.125 19.9375C135.75 19.9375 137.125 20.5 138.25 21.5625C139.375 22.6875 139.937 24 139.937 25.5C139.937 27.0625 139.375 28.375 138.25 29.5C137.125 30.625 135.75 31.125 134.125 31.125C132.5 31.125 131.125 30.5625 130 29.5ZM131.687 23C131 23.6875 130.687 24.5 130.687 25.5C130.687 26.5 131 27.3125 131.687 28C132.375 28.6875 133.187 29 134.125 29C135.062 29 135.875 28.6875 136.562 28C137.25 27.3125 137.562 26.5 137.562 25.5C137.562 24.5 137.25 23.6875 136.562 23C135.875 22.3125 135.062 22 134.125 22C133.187 21.9375 132.375 22.3125 131.687 23Z" fill="#282828"/>
        //-   <path d="M142.062 20.125H146.562C147.688 20.125 148.562 20.5 149.312 21.1875C150.062 21.875 150.375 22.75 150.375 23.75C150.375 24.75 150 25.625 149.312 26.3125C148.562 27 147.688 27.375 146.562 27.375H144.375V30.9375H142.062V20.125ZM146.5 22.1875H144.375V25.25H146.5C146.937 25.25 147.312 25.125 147.625 24.8125C147.937 24.5 148.062 24.125 148.062 23.75C148.062 23.3125 147.937 22.9375 147.625 22.625C147.375 22.3125 147 22.1875 146.5 22.1875Z" fill="#282828"/>
        //-   <path d="M153.562 29.5C152.437 28.375 151.875 27.0625 151.875 25.5C151.875 23.9375 152.437 22.625 153.562 21.5625C154.687 20.4375 156.063 19.9375 157.688 19.9375C159.313 19.9375 160.688 20.5 161.813 21.5625C162.938 22.6875 163.5 24 163.5 25.5C163.5 27.0625 162.938 28.375 161.813 29.5C160.688 30.625 159.313 31.125 157.688 31.125C156.063 31.125 154.687 30.5625 153.562 29.5ZM155.25 23C154.562 23.6875 154.25 24.5 154.25 25.5C154.25 26.5 154.562 27.3125 155.25 28C155.937 28.6875 156.75 29 157.688 29C158.625 29 159.438 28.6875 160.125 28C160.813 27.3125 161.125 26.5 161.125 25.5C161.125 24.5 160.813 23.6875 160.125 23C159.438 22.3125 158.625 22 157.688 22C156.75 21.9375 155.937 22.3125 155.25 23Z" fill="#282828"/>
        //-   <path d="M164 28.8125H164.625C164.688 28.75 164.75 28.6875 164.813 28.625C164.875 28.5625 165 28.3125 165.25 28C165.438 27.6875 165.625 27.3125 165.75 26.9375C165.875 26.5625 166.062 26.0625 166.125 25.4375C166.25 24.8125 166.313 24.125 166.313 23.375V20.0625H173.75V28.75H175.063V33.125H172.75V30.875H166.25V33.125H163.938V28.8125H164ZM168.563 23.4375C168.563 24.125 168.5 24.8125 168.375 25.4375C168.25 26.0625 168.125 26.5625 167.938 27C167.75 27.375 167.625 27.75 167.438 28C167.25 28.3125 167.125 28.5 167 28.625L166.813 28.8125H171.313V22.1875H168.5V23.4375H168.563Z" fill="#282828"/>
        //-   <path d="M111.437 16.875H108.062V18.6875H111.437V16.875Z" fill="#282828"/>
        //-   <path d="M24.875 0C11.125 0 0 11.1875 0 25C0 38.8125 11.125 50 24.875 50C38.5625 50 49.75 38.8125 49.75 25C49.75 11.1875 38.5625 0 24.875 0Z" fill="#FFDD66"/>
        //-   <path d="M39.5625 12.5626C39.5 12.5626 39.5 12.5001 39.4375 12.5001L31.5 8.00009C30.5 7.31259 29.125 7.25009 28.125 7.93759L21 11.8126C20.9375 11.8126 20.9375 11.8751 20.875 11.8751C20 12.5001 19.5 13.5001 19.5 14.5626V20.9376C19.25 20.9376 19.0625 20.8751 18.8125 20.8751C16.0625 20.8751 13.625 22.4376 12.4375 24.9376C9.31248 25.1876 7.87498 27.5626 7.68748 29.6251C7.56248 30.6251 7.74998 31.5626 8.06248 32.2501C7.31248 32.8751 6.68748 33.8751 6.99998 35.1876C7.12498 35.7501 7.74998 36.1251 8.31248 36.0001C8.87498 35.8751 9.24998 35.2501 9.12498 34.6876C8.93748 34.0001 10.1875 33.5626 10.1875 33.5626C10.6875 33.3751 10.9375 32.9376 10.9375 32.4376C10.875 31.9376 10.5625 31.5626 10.125 31.4376C9.87498 31.1876 9.62498 30.1876 10.0625 29.0626C10.375 28.2501 11.0625 27.3126 12.6875 27.1876L14.375 28.2501C14.5625 28.3751 14.75 28.3751 14.875 28.3751C15.1875 28.3126 15.4375 28.0626 15.5 27.6876C15.625 27.0626 15.3125 26.2501 14.8125 25.9376L14.5 25.7501C15.3125 24.1876 17 23.1251 18.8125 23.1251C21.5 23.1251 23.6875 25.3126 23.6875 27.9376C23.25 28.3126 22.9375 29.0001 23.0625 29.6251C23.125 30.0626 23.375 30.3126 23.6875 30.3126C23.875 30.3126 24.0625 30.3126 24.1875 30.1876L25.25 29.5001C26.0625 29.6251 27.375 30.4376 28.25 32.0001C28.9375 33.1876 29.75 35.5626 27.875 38.1876C27.125 39.3126 25.5625 40.5001 24 40.4376C23.375 40.4376 22.875 40.9376 22.875 41.5001C22.875 42.1251 23.375 42.6251 23.9375 42.6251H24C26.5 42.6251 28.5625 40.9376 29.5625 39.4376C31.4375 36.7501 31.5625 33.6251 30 30.8751C28.9375 29.0001 27.25 27.6251 25.6875 27.3126C25.4375 24.7501 23.875 22.5626 21.625 21.5001C21.6875 21.3751 21.6875 21.3126 21.6875 21.1876V14.5626C21.6875 14.2501 21.8125 14.0001 22 13.8751L29.3125 10.0001C29.375 10.0001 29.375 9.93759 29.4375 9.93759C29.6875 9.75009 30 9.75009 30.1875 9.93759C30.25 9.93759 30.25 10.0001 30.3125 10.0001L38.25 14.5001C38.4375 14.6876 38.5625 14.9376 38.5625 15.1876V33.8751C38.5625 34.5001 39.0625 35.0626 39.75 35.0626C40.375 35.0626 40.9375 34.5626 40.9375 33.8751V15.1876C40.875 14.1876 40.375 13.1876 39.5625 12.5626Z" fill="#282828"/>
        //-   <path d="M36 17.9375L31.25 15.3125C31.0625 15.1875 30.8125 15.125 30.625 15.125C30.25 15.1875 30 15.4375 29.875 15.9375C29.6875 16.6875 30.0625 17.625 30.625 18L35.375 20.625C35.9375 21 36.5625 20.75 36.75 20C36.9375 19.25 36.625 18.3125 36 17.9375Z" fill="#282828"/>
        //-   <path d="M36 23.125L31.25 20.5C31.0625 20.375 30.8125 20.3125 30.625 20.3125C30.25 20.375 30 20.625 29.875 21.125C29.6875 21.875 30.0625 22.8125 30.625 23.1875L35.375 25.8125C35.9375 26.1875 36.5625 25.9375 36.75 25.1875C36.9375 24.4375 36.625 23.5 36 23.125Z" fill="#282828"/>
        //-   <path d="M19.125 32.6244C18.4375 33.3744 17.875 34.6869 17.6875 35.9369L16.1875 34.7494C15.6875 34.3744 14.9375 34.4369 14.5625 34.9369C14.1875 35.4369 14.25 36.1869 14.75 36.6244L17.5625 38.8119V44.0619C17.5625 44.6869 18.0625 45.2494 18.75 45.2494C19.375 45.2494 19.9375 44.7494 19.9375 44.0619V37.3119C19.9375 36.0619 20.5 34.6869 20.9375 34.2494C21.375 33.7494 21.375 32.9994 20.875 32.5619C20.3125 32.1244 19.5625 32.1244 19.125 32.6244Z" fill="#282828"/>
        //-   </g>
        //-   <defs>
        //-   <clipPath id="clip0_4210_55916">
        //-   <rect width="175" height="50" fill="white"/>
        //-   </clipPath>
        //-   </defs>
        //- </svg>
      .header__social 
        a.h3.header__social-phone(href="tel:88005116382") 8 800 511-63-82
        button.header__social-order.order-primary.btn1.button-primary(js-modal-open data-modal-name="form-modal") Request a call
        button.header__social-order.order-secondary.btn1.button-primary  Select property
        button.header-favourite 
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 5.27273C12.2898 5.27273 12.5089 5.16042 12.6163 5.097C12.7364 5.02605 12.8367 4.94324 12.9097 4.87805C13.0546 4.74868 13.2076 4.5828 13.3427 4.43429C13.3793 4.39403 13.4164 4.35302 13.4542 4.31135C13.7173 4.02069 14.0095 3.69798 14.3634 3.37332C15.17 2.6335 16.1764 2 17.4545 2C19.365 2 20.7244 2.70648 21.6162 3.70982C22.5244 4.73156 23 6.12216 23 7.54545C23 9.59844 21.87 11.7837 19.8031 14.1362C17.8149 16.399 15.073 18.69 12 21.0203C8.92702 18.69 6.18507 16.399 4.19691 14.1362C2.13004 11.7837 1 9.59844 1 7.54545C1 6.12216 1.47556 4.73156 2.38377 3.70982C3.27563 2.70648 4.63499 2 6.54545 2C7.82358 2 8.82995 2.6335 9.63656 3.37332C9.99052 3.69798 10.2827 4.02069 10.5458 4.31135C10.5836 4.35302 10.6207 4.39403 10.6573 4.43429C10.7924 4.5828 10.9454 4.74868 11.0903 4.87805C11.1633 4.94324 11.2636 5.02605 11.3837 5.097C11.4911 5.16042 11.7102 5.27273 12 5.27273Z" stroke="#282828" stroke-width="2"/>
          </svg>
      ul.header__menu 
        .header__menu-el 
          a.p1.header__menu-link(href="")
            |Buy online
        .header__menu-el 
          a.p1.header__menu-link(href="")
            |About the company
        .header__menu-el 
          a.p1.header__menu-link(href="")
            |How to buy
        .header__menu-el.menu-popup
          a.p1.header__menu-link
            |Menu
          button.menu-popup__btn
            .menu-popup__btn-el
            .menu-popup__btn-el
            .menu-popup__btn-el

