.info-summary 
  .info-summary__el 
    .h1 We create <br> THE BEST together!
  .info-summary__el 
    img(src="img/big-icon-logo.svg" alt="")
  .info-summary__el
    .p1
      |We are focused on results, quality and high efficiency,
      |in connection with which we use modern management, IT and HR technologies,
      |constantly improve the professional and management competence
      |of the staff and improve the management system.