
.block-infoLf
  .title-xxl Environment and infrastructure
  .title-xl
    |Multifunctional courtyard without cars guarantees safety
    |and convenience. We divided the yard for children of different ages and adults.
    |There is enough space for everyone.