
section.blog 
  include ../blocks/consultation-modal/_consultation-modal.pug
  include ../blocks/quiz/_quiz.pug
  .container 
    h1.blog__title.h1 Blog
    button.button-primary.btn1.form-primary-scroll(type="button") Find out more 11
    include ../blocks/blog-list/_blog-list.pug
    include ../blocks/navigate-links/_navigate-links.pug