.map-primary 
  .maps-block
    .maps-block__container
      .maps-block__item
        .maps-block__map
          <div data-longitude="36.574691" data-latitude="55.130940" data-icon-shop="img/playground-icon.svg" data-icon-circle="img/circle-icon.svg" data-icon-main="img/main-icon.png" data-icon-playground="img/playground-icon.svg" data-icon-children="img/children-icon.svg" data-icon-caffe="img/caffe-icon.svg" data-icon-school="img/school-icon.svg" data-icon-parking="img/parking-icon.svg" data-longitude="36.574691" data-latitude="55.130940" data-icon-src="img/map-icon.svg" data-icon-src-mobile="img/map-icon-mobile.svg" data-action="api/customization.json" class="js-ymap-second" data-placeholder-caption="Новый город" data-placeholder-balloon="249034, Kaluga region, Obninsk, Polenova st., 9"></div>
    .maps-btns 
      .map-btn.p2(data-role="show-all")  
        img(src="img/small-school-icon.svg" alt="")
        |Show all <span class="p2">(1)</span>
      .map-btn.p2(data-role="school")  
        img(src="img/small-school-icon.svg" alt="")
        p.p2 Schools/Universities
        <span class="p2">(1)</span>
      .map-btn.p2(data-role="cafe")  
        img(src="img/small-caffe-icon.svg" alt="")
        p.p2 Cafes/restaurants
        <span class="p2">(1)</span>
      .map-btn.p2(data-role="kids")  
        img(src="img/small-caffe-icon.svg" alt="")
        p.p2 Kindergartens
        <span class="p2">(1)</span>
      .map-btn.p2(data-role="shop")  
        img(src="img/small-caffe-icon.svg" alt="")
        p.p2 Shops
        <span class="p2">(1)</span>
      .map-btn.p2(data-role="playground")  
        img(src="img/small-caffe-icon.svg" alt="")
        p.p2 Children's playgrounds
        <span class="p2">(1)</span>
      .map-btn.p2(data-role="parking")  
        img(src="img/small-caffe-icon.svg" alt="")
        p.p2 Transport
        <span class="p2">(1)</span>
      .map-btn.p2(data-role="med") 
        img(src="img/small-caffe-icon.svg" alt="")
        p.p2 Medicine
        <span class="p2">(1)</span>