.installment-info 
  .installment-info__content 
    .h1 Installment plan for ready parking spaces
    ol 
      li.p1 1st installment (initial) - 5%
      li.p1 2nd installment (12 months after the first) - 95%
    button.btn1.button-primary Select a location
  .installment-info__img 
    img(src="img/installment-img-1.jpg" alt="")