.footer
  .container
    .footer__inner
      .footer__top 
        h2.footer__top-title.h2 Have something to say or suggest? Write to us
        button.btn1.button-secondary.footer__top-btn(js-modal-open data-modal-name="form-modal") send message
      hr.footer__top-hr
      .footer__bottom 
        ul.footer__list.footer__list-first
          li.footer__list-el.footer__list-elActive
            a.footer__list-link.p1(href="https://novyigorod.ru/" target="_blank")
              .footer__list-counted
                p 78
              |RC New city
          li.footer__list-el.footer__list-elActive
            a.footer__list-link.p1(href="https://novyigorod.ru/objekty/sosedi/" target="_blank")
              .footer__list-counted
                p 78
              |RC Neighbors
          li.footer__list-el.footer__list-elActive.counted
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 458
              |All apartments
          li.footer__list-el.counted
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 12
              |Studios
          li.footer__list-el.counted
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 32
              |One-room
          li.footer__list-el.counted
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 28
              |Two-room
          li.footer__list-el.counted
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 28
              |Three-room
          li.footer__list-el.counted
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 28
              |Four-room
          li.footer__list-el.counted
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 28
              |Storerooms
          li.footer__list-el
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 90
              |Parking
          li.footer__list-el.footer__list-elActive
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 78
              |Commercial real estate
        ul.footer__list.footer__list-second.list-hidden
          li.footer__list-el.footer__list-elActive
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 288
              |About projects
          li.footer__list-el.footer__list-elActive
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 311
              |Methods of purchase
          li.footer__list-el
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 311
              |Mortgage
          li.footer__list-el
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 10
              |Trade-in
          li.footer__list-el
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 111
              |100% payment
          li.footer__list-el
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 99
              |Maternity capital
          li.footer__list-el
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 77
              |Installment plan
          li.footer__list-el.special-offer
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 323
              |Online purchase
          li.footer__list-el.footer__list-elActive
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 212
              |Promotions and discounts
        ul.footer__list.footer__list-third.list-hidden
          li.footer__list-el.footer__list-elActive
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 311
              |About the company
          li.footer__list-el
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 311
              |Sales office
          li.footer__list-el
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 311
              |Privilege card
          li.footer__list-el.counted
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 311
              |Video
          li.footer__list-el
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 311
              |Management company
          li.footer__list-el
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 311
              |Documents
          li.footer__list-el.counted
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 311
              |Contacts
          li.footer__list-el.footer__list-elActive
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 311
              |News
          li.footer__list-el.footer__list-elActive
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 311
              |Blog
          li.footer__list-el.footer__list-elActive
            a.footer__list-link.p1(href="#")
              .footer__list-counted
                p 311
              |Privacy Policy
        ul.footer__list.footer__list-fourth
          li.footer__list-el.footer__list-elActive
            a.footer__list-link.p1(href="tel:88005506831") 8 800 550-68-31
          li.footer__list-el
            a.footer__list-link.p1(href="#") Request a call
          li.footer__list-el.p1
            |Kaluga region, Obninsk, Polenova st., 9
          li.footer__list-el.p1
            |Mon–Fri 9:00 to 19:00 Sat–Sun 10:00 to 18:00
          li.footer__list-el
            a.footer__list-link.p1(href="mailto:pro@novyigorod.ru") pro@novyigorod.ru
          li.footer__list-el
            .footer__socials 
              a.footer__socials-link(href="#")
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.75 0H6.25C2.79875 0 0 2.79875 0 6.25V13.75C0 17.2013 2.79875 20 6.25 20H13.75C17.2013 20 20 17.2013 20 13.75V6.25C20 2.79875 17.2013 0 13.75 0ZM18.125 13.75C18.125 16.1625 16.1625 18.125 13.75 18.125H6.25C3.8375 18.125 1.875 16.1625 1.875 13.75V6.25C1.875 3.8375 3.8375 1.875 6.25 1.875H13.75C16.1625 1.875 18.125 3.8375 18.125 6.25V13.75Z" fill="#282828"/>
                  <path d="M10 5C7.23875 5 5 7.23875 5 10C5 12.7612 7.23875 15 10 15C12.7612 15 15 12.7612 15 10C15 7.23875 12.7612 5 10 5ZM10 13.125C8.2775 13.125 6.875 11.7225 6.875 10C6.875 8.27625 8.2775 6.875 10 6.875C11.7225 6.875 13.125 8.27625 13.125 10C13.125 11.7225 11.7225 13.125 10 13.125Z" fill="#282828"/>
                  <path d="M14.9375 5.8125C15.5934 5.8125 16.1251 5.28083 16.1251 4.62498C16.1251 3.96913 15.5934 3.43746 14.9375 3.43746C14.2817 3.43746 13.75 3.96913 13.75 4.62498C13.75 5.28083 14.2817 5.8125 14.9375 5.8125Z" fill="#282828"/>
                  </svg>
              a.footer__socials-link(href="#")
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.25 6.875V4.375C11.25 3.685 11.81 3.125 12.5 3.125H13.75V0H11.25C9.17875 0 7.5 1.67875 7.5 3.75V6.875H5V10H7.5V20H11.25V10H13.75L15 6.875H11.25Z" fill="#282828"/>
                </svg>
              a.footer__socials-link(href="#")
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.8217 14.4728C19.768 14.3828 19.4355 13.6602 17.8354 12.1751C16.1602 10.62 16.3852 10.8725 18.4029 8.18358C19.6317 6.54596 20.123 5.54588 19.9693 5.11835C19.823 4.71082 18.9192 4.81833 18.9192 4.81833L15.914 4.83583C15.914 4.83583 15.6914 4.80583 15.5252 4.90458C15.3639 5.00209 15.2602 5.22711 15.2602 5.22711C15.2602 5.22711 14.7839 6.4947 14.1488 7.57228C12.81 9.8462 12.2737 9.96621 12.0549 9.82495C11.5461 9.49618 11.6736 8.50235 11.6736 7.7973C11.6736 5.59339 12.0074 4.67457 11.0223 4.43705C10.6948 4.35829 10.4548 4.30579 9.61849 4.29704C8.54591 4.28579 7.6371 4.30079 7.12331 4.55206C6.78078 4.71957 6.51701 5.09335 6.67827 5.1146C6.87704 5.14085 7.32707 5.23586 7.56584 5.56088C7.87461 5.97966 7.86336 6.92223 7.86336 6.92223C7.86336 6.92223 8.04088 9.51618 7.44958 9.8387C7.0433 10.06 6.48701 9.60868 5.29317 7.54478C4.68188 6.48845 4.21934 5.31962 4.21934 5.31962C4.21934 5.31962 4.13059 5.1021 3.97182 4.98584C3.77931 4.84458 3.50929 4.79958 3.50929 4.79958L0.651577 4.81708C0.651577 4.81708 0.222796 4.82958 0.0652839 5.01584C-0.0747265 5.18211 0.0540331 5.52463 0.0540331 5.52463C0.0540331 5.52463 2.2917 10.7588 4.82439 13.3977C7.14831 15.8166 9.78601 15.6579 9.78601 15.6579H10.9811C10.9811 15.6579 11.3424 15.6179 11.5261 15.4191C11.6961 15.2366 11.6899 14.8941 11.6899 14.8941C11.6899 14.8941 11.6661 13.2902 12.4112 13.0539C13.145 12.8214 14.0876 14.6041 15.0864 15.2904C15.8415 15.8091 16.4152 15.6954 16.4152 15.6954L19.0867 15.6579C19.0867 15.6579 20.4843 15.5716 19.8217 14.4728Z" fill="#282828"/>
                </svg>
              a.footer__socials-link(href="#")
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.0131 10.3168C12.96 10.3168 15.3681 8.00975 15.3681 5.15028C15.3513 2.30707 12.96 0 10.0131 0C7.06616 0 4.65809 2.30707 4.65809 5.16653C4.65809 8.00975 7.04932 10.3168 10.0131 10.3168ZM10.0131 3.02193C11.2424 3.02193 12.2359 3.9805 12.2359 5.16653C12.2359 6.33631 11.2424 7.29488 10.0131 7.29488C8.80065 7.29488 7.79027 6.33631 7.79027 5.16653C7.79027 3.9805 8.78381 3.02193 10.0131 3.02193Z" fill="#282828"/>
                  <path d="M12.1686 14.5248C13.2632 14.2811 14.3072 13.8749 15.2671 13.29C15.9912 12.8513 16.2269 11.909 15.7554 11.2104C15.3008 10.4955 14.3241 10.2843 13.6 10.7392C11.4108 12.0715 8.58173 12.0715 6.39258 10.7392C5.66847 10.2843 4.70861 10.4955 4.2371 11.2104C3.78243 11.909 4.00134 12.8513 4.72545 13.29C5.68531 13.8749 6.74621 14.2973 7.82395 14.5248L4.84333 17.4167C4.2371 18.0016 4.2371 18.9602 4.84333 19.5613C5.14644 19.8538 5.55059 20 5.95475 20C6.3589 20 6.76305 19.8538 7.06616 19.5613L9.99627 16.7181L12.9432 19.5613C13.5494 20.1462 14.543 20.1462 15.166 19.5613C15.7723 18.9764 15.7723 18.0179 15.166 17.4167L12.1686 14.5248Z" fill="#282828"/>
                </svg>
              a.footer__socials-link(href="#")
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8252 3.42821C18.6819 3.65887 19.3574 4.33407 19.5879 5.19065C20.0164 6.75522 19.9999 10.0165 19.9999 10.0165C19.9999 10.0165 19.9999 13.2611 19.5881 14.8258C19.3574 15.6823 18.682 16.3576 17.8252 16.5881C16.2602 17 9.99996 17 9.99996 17C9.99996 17 3.75609 17 2.17467 16.5718C1.3179 16.3411 0.642545 15.6658 0.411833 14.8094C0 13.2611 0 10 0 10C0 10 0 6.75522 0.411833 5.19065C0.642392 4.33422 1.33438 3.6424 2.17452 3.41189C3.73961 3 9.99981 3 9.99981 3C9.99981 3 16.2602 3 17.8252 3.42821ZM13.2124 9.99999L8.00659 12.9977V7.00233L13.2124 9.99999Z" fill="#282828"/>
                </svg>
        //- ul.footer__list.footer__list-first
        //-   li.footer__list-el.footer__list-elActive
        //-     a.footer__list-link.h3(href="https://novyigorod.ru/" target="_blank")
        //-       .footer__list-counted
        //-         p 78
        //-       |ЖК Новый город
        //-   li.footer__list-el.footer__list-elActive
        //-     a.footer__list-link.h3(href="https://novyigorod.ru/objekty/sosedi/" target="_blank")
        //-       .footer__list-counted
        //-         p 78
        //-       |ЖК Cоседи
        //-   li.footer__list-el.footer__list-elActive.counted
        //-     a.footer__list-link.h3(href="#")
        //-       .footer__list-counted
        //-         p 458
        //-       |Все apartments
        //-   li.footer__list-el.counted
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 12
        //-       |Studios
        //-   li.footer__list-el.counted
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 32
        //-       |Однокомнатные
        //-   li.footer__list-el.counted
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 28
        //-       |Двухкомнатные
        //-   li.footer__list-el.counted
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 28
        //-       |Трехкомнатные
        //-   li.footer__list-el.counted
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 28
        //-       |Четырехкомнатные
        //-   li.footer__list-el.counted
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 28
        //-       |Клаtoвые
        //-   li.footer__list-el
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 90
        //-       |Паркинг
        //-   li.footer__list-el.footer__list-elActive
        //-     a.footer__list-link.h3(href="#")
        //-       .footer__list-counted
        //-         p 78
        //-       |Коммерческая недвижимость
        //- ul.footer__list.footer__list-second.list-hidden
        //-   li.footer__list-el.footer__list-elActive
        //-     a.footer__list-link.h3(href="#")
        //-       .footer__list-counted
        //-         p 288
        //-       |О проектах
        //-   li.footer__list-el.footer__list-elActive
        //-     a.footer__list-link.h3(href="#")
        //-       .footer__list-counted
        //-         p 311
        //-       |Способы покупки
        //-   li.footer__list-el
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 311
        //-       |Mortgage
        //-   li.footer__list-el
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 10
        //-       |Trade-in
        //-   li.footer__list-el
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 111
        //-       |100% оплата
        //-   li.footer__list-el
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 99
        //-       |Материнский капитал
        //-   li.footer__list-el
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 77
        //-       |Рассрочка
        //-   li.footer__list-el.special-offer
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 323
        //-       |Онлайн покупка
        //-   li.footer__list-el.footer__list-elActive
        //-     a.footer__list-link.h3(href="#")
        //-       .footer__list-counted
        //-         p 212
        //-       |Акции и скидки
        //- ul.footer__list.footer__list-third.list-hidden
        //-   li.footer__list-el.footer__list-elActive
        //-     a.footer__list-link.h3(href="#")
        //-       .footer__list-counted
        //-         p 311
        //-       |О компании
        //-   li.footer__list-el
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 311
        //-       |Офис продаж
        //-   li.footer__list-el
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 311
        //-       |Карта привилегий
        //-   li.footer__list-el.counted
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 311
        //-       |Видео
        //-   li.footer__list-el
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 311
        //-       |Управляющая компания
        //-   li.footer__list-el
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 311
        //-       |toкументы
        //-   li.footer__list-el.counted
        //-     a.footer__list-link.p1(href="#")
        //-       .footer__list-counted
        //-         p 311
        //-       |Контакты
        //-   li.footer__list-el.footer__list-elActive
        //-     a.footer__list-link.h3(href="#")
        //-       .footer__list-counted
        //-         p 311
        //-       |Новости
        //-   li.footer__list-el.footer__list-elActive
        //-     a.footer__list-link.h3(href="#")
        //-       .footer__list-counted
        //-         p 311
        //-       |Карта привилегий
        //-   li.footer__list-el.footer__list-elActive
        //-     a.footer__list-link.h3(href="#")
        //-       .footer__list-counted
        //-         p 311
        //-       |Политика конфиденциальности
        //- ul.footer__list.footer__list-fourth
        //-   li.footer__list-el.footer__list-elActive
        //-     a.footer__list-link.h3(href="tel:88005506831") 8 800 550-68-31
        //-   li.footer__list-el
        //-     a.footer__list-link.p1(href="#") Заказать звонок
        //-   li.footer__list-el.p1
        //-     |Калужская область, г. Обнинск, <br> ул. Поленова, д. 9
        //-   li.footer__list-el.p1
        //-     |Пн–Пт с 9:00 to 19:00 <br> Сб–Вс с 10:00 to 18:00
        //-   li.footer__list-el
        //-     a.footer__list-link.h3(href="mailto:pro@novyigorod.ru") pro@novyigorod.ru
        //-   li.footer__list-el
        //-     .footer__socials 
        //-       a.footer__socials-link(href="#")
        //-         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        //-           <path d="M13.75 0H6.25C2.79875 0 0 2.79875 0 6.25V13.75C0 17.2013 2.79875 20 6.25 20H13.75C17.2013 20 20 17.2013 20 13.75V6.25C20 2.79875 17.2013 0 13.75 0ZM18.125 13.75C18.125 16.1625 16.1625 18.125 13.75 18.125H6.25C3.8375 18.125 1.875 16.1625 1.875 13.75V6.25C1.875 3.8375 3.8375 1.875 6.25 1.875H13.75C16.1625 1.875 18.125 3.8375 18.125 6.25V13.75Z" fill="#282828"/>
        //-           <path d="M10 5C7.23875 5 5 7.23875 5 10C5 12.7612 7.23875 15 10 15C12.7612 15 15 12.7612 15 10C15 7.23875 12.7612 5 10 5ZM10 13.125C8.2775 13.125 6.875 11.7225 6.875 10C6.875 8.27625 8.2775 6.875 10 6.875C11.7225 6.875 13.125 8.27625 13.125 10C13.125 11.7225 11.7225 13.125 10 13.125Z" fill="#282828"/>
        //-           <path d="M14.9375 5.8125C15.5934 5.8125 16.1251 5.28083 16.1251 4.62498C16.1251 3.96913 15.5934 3.43746 14.9375 3.43746C14.2817 3.43746 13.75 3.96913 13.75 4.62498C13.75 5.28083 14.2817 5.8125 14.9375 5.8125Z" fill="#282828"/>
        //-           </svg>
        //-       a.footer__socials-link(href="#")
        //-         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        //-           <path d="M11.25 6.875V4.375C11.25 3.685 11.81 3.125 12.5 3.125H13.75V0H11.25C9.17875 0 7.5 1.67875 7.5 3.75V6.875H5V10H7.5V20H11.25V10H13.75L15 6.875H11.25Z" fill="#282828"/>
        //-         </svg>
        //-       a.footer__socials-link(href="#")
        //-         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        //-           <path d="M19.8217 14.4728C19.768 14.3828 19.4355 13.6602 17.8354 12.1751C16.1602 10.62 16.3852 10.8725 18.4029 8.18358C19.6317 6.54596 20.123 5.54588 19.9693 5.11835C19.823 4.71082 18.9192 4.81833 18.9192 4.81833L15.914 4.83583C15.914 4.83583 15.6914 4.80583 15.5252 4.90458C15.3639 5.00209 15.2602 5.22711 15.2602 5.22711C15.2602 5.22711 14.7839 6.4947 14.1488 7.57228C12.81 9.8462 12.2737 9.96621 12.0549 9.82495C11.5461 9.49618 11.6736 8.50235 11.6736 7.7973C11.6736 5.59339 12.0074 4.67457 11.0223 4.43705C10.6948 4.35829 10.4548 4.30579 9.61849 4.29704C8.54591 4.28579 7.6371 4.30079 7.12331 4.55206C6.78078 4.71957 6.51701 5.09335 6.67827 5.1146C6.87704 5.14085 7.32707 5.23586 7.56584 5.56088C7.87461 5.97966 7.86336 6.92223 7.86336 6.92223C7.86336 6.92223 8.04088 9.51618 7.44958 9.8387C7.0433 10.06 6.48701 9.60868 5.29317 7.54478C4.68188 6.48845 4.21934 5.31962 4.21934 5.31962C4.21934 5.31962 4.13059 5.1021 3.97182 4.98584C3.77931 4.84458 3.50929 4.79958 3.50929 4.79958L0.651577 4.81708C0.651577 4.81708 0.222796 4.82958 0.0652839 5.01584C-0.0747265 5.18211 0.0540331 5.52463 0.0540331 5.52463C0.0540331 5.52463 2.2917 10.7588 4.82439 13.3977C7.14831 15.8166 9.78601 15.6579 9.78601 15.6579H10.9811C10.9811 15.6579 11.3424 15.6179 11.5261 15.4191C11.6961 15.2366 11.6899 14.8941 11.6899 14.8941C11.6899 14.8941 11.6661 13.2902 12.4112 13.0539C13.145 12.8214 14.0876 14.6041 15.0864 15.2904C15.8415 15.8091 16.4152 15.6954 16.4152 15.6954L19.0867 15.6579C19.0867 15.6579 20.4843 15.5716 19.8217 14.4728Z" fill="#282828"/>
        //-         </svg>
        //-       a.footer__socials-link(href="#")
        //-         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        //-           <path d="M10.0131 10.3168C12.96 10.3168 15.3681 8.00975 15.3681 5.15028C15.3513 2.30707 12.96 0 10.0131 0C7.06616 0 4.65809 2.30707 4.65809 5.16653C4.65809 8.00975 7.04932 10.3168 10.0131 10.3168ZM10.0131 3.02193C11.2424 3.02193 12.2359 3.9805 12.2359 5.16653C12.2359 6.33631 11.2424 7.29488 10.0131 7.29488C8.80065 7.29488 7.79027 6.33631 7.79027 5.16653C7.79027 3.9805 8.78381 3.02193 10.0131 3.02193Z" fill="#282828"/>
        //-           <path d="M12.1686 14.5248C13.2632 14.2811 14.3072 13.8749 15.2671 13.29C15.9912 12.8513 16.2269 11.909 15.7554 11.2104C15.3008 10.4955 14.3241 10.2843 13.6 10.7392C11.4108 12.0715 8.58173 12.0715 6.39258 10.7392C5.66847 10.2843 4.70861 10.4955 4.2371 11.2104C3.78243 11.909 4.00134 12.8513 4.72545 13.29C5.68531 13.8749 6.74621 14.2973 7.82395 14.5248L4.84333 17.4167C4.2371 18.0016 4.2371 18.9602 4.84333 19.5613C5.14644 19.8538 5.55059 20 5.95475 20C6.3589 20 6.76305 19.8538 7.06616 19.5613L9.99627 16.7181L12.9432 19.5613C13.5494 20.1462 14.543 20.1462 15.166 19.5613C15.7723 18.9764 15.7723 18.0179 15.166 17.4167L12.1686 14.5248Z" fill="#282828"/>
        //-         </svg>
        //-       a.footer__socials-link(href="#")
        //-         <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        //-           <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8252 3.42821C18.6819 3.65887 19.3574 4.33407 19.5879 5.19065C20.0164 6.75522 19.9999 10.0165 19.9999 10.0165C19.9999 10.0165 19.9999 13.2611 19.5881 14.8258C19.3574 15.6823 18.682 16.3576 17.8252 16.5881C16.2602 17 9.99996 17 9.99996 17C9.99996 17 3.75609 17 2.17467 16.5718C1.3179 16.3411 0.642545 15.6658 0.411833 14.8094C0 13.2611 0 10 0 10C0 10 0 6.75522 0.411833 5.19065C0.642392 4.33422 1.33438 3.6424 2.17452 3.41189C3.73961 3 9.99981 3 9.99981 3C9.99981 3 16.2602 3 17.8252 3.42821ZM13.2124 9.99999L8.00659 12.9977V7.00233L13.2124 9.99999Z" fill="#282828"/>
        //-         </svg>
        //-     .footer__societal
        //-       a.footer__societal-link(href="#")
        //-         <svg width="120" height="40" viewBox="0 0 120 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        //-           <g clip-path="url(#clip0_1_517)">
        //-           <path d="M110.444 0.00013H9.56145C9.19372 0.00013 8.8304 0.00013 8.46364 0.00213C8.15663 0.00413 7.85207 0.00994 7.54211 0.01483C6.86874 0.0227318 6.19695 0.0818063 5.53259 0.19154C4.86915 0.303663 4.2265 0.515046 3.62637 0.81854C3.02697 1.1246 2.47929 1.5223 2.00318 1.9972C1.52457 2.47077 1.12561 3.01815 0.82165 3.61829C0.516847 4.21724 0.305496 4.85907 0.194896 5.52161C0.083244 6.18332 0.0231632 6.85265 0.0151925 7.52361C0.00588648 7.83021 0.00490373 8.13783 0 8.44447V31.5587C0.00490373 31.8692 0.00588648 32.17 0.0151925 32.4806C0.0231657 33.1516 0.0832464 33.8209 0.194896 34.4825C0.30519 35.1455 0.516554 35.7877 0.82165 36.3868C1.12548 36.985 1.52449 37.5302 2.00318 38.0011C2.47748 38.4781 3.02552 38.8761 3.62637 39.1798C4.2265 39.4841 4.86908 39.6968 5.53259 39.8106C6.19707 39.9195 6.86879 39.9786 7.54211 39.9874C7.85207 39.9942 8.15663 39.9981 8.46364 39.9981C8.83039 40.0001 9.19374 40.0001 9.56145 40.0001H110.444C110.804 40.0001 111.171 40.0001 111.531 39.9981C111.837 39.9981 112.15 39.9942 112.455 39.9874C113.128 39.9791 113.798 39.92 114.461 39.8106C115.127 39.696 115.772 39.4834 116.375 39.1798C116.975 38.8759 117.522 38.478 117.996 38.0011C118.474 37.5284 118.874 36.9836 119.181 36.3868C119.484 35.7872 119.693 35.1451 119.802 34.4825C119.914 33.8208 119.976 33.1516 119.988 32.4806C119.992 32.17 119.992 31.8692 119.992 31.5587C120 31.1954 120 30.8341 120 30.4649V9.53626C120 9.17005 120 8.80677 119.992 8.44447C119.992 8.13783 119.992 7.83021 119.988 7.52357C119.976 6.85255 119.914 6.18337 119.802 5.52157C119.693 4.85941 119.484 4.21763 119.181 3.61825C118.562 2.41533 117.581 1.43616 116.375 0.81845C115.772 0.515697 115.127 0.30437 114.461 0.19145C113.798 0.0812328 113.128 0.0221378 112.455 0.01469C112.15 0.00981 111.837 0.00395 111.531 0.002C111.171 0 110.804 0 110.444 0V0.00013Z" fill="#A6A6A6"/>
        //-           <path d="M8.46856 39.125C8.16303 39.125 7.86487 39.1211 7.56174 39.1143C6.93376 39.1061 6.30725 39.0516 5.68735 38.9512C5.10932 38.8519 4.54937 38.6673 4.02596 38.4033C3.50735 38.1415 3.03433 37.7983 2.62504 37.3867C2.20981 36.98 1.86412 36.5082 1.60166 35.9902C1.33631 35.4688 1.15267 34.9099 1.05714 34.333C0.953972 33.7131 0.898156 33.0863 0.890169 32.458C0.883812 32.2471 0.875488 31.5449 0.875488 31.5449V8.44434C0.875488 8.44434 0.884353 7.75293 0.89022 7.5498C0.897867 6.92248 0.953358 6.29665 1.05621 5.67773C1.15192 5.09925 1.3357 4.53875 1.6012 4.01563C1.8627 3.49794 2.20647 3.02586 2.61919 2.61768C3.03145 2.20562 3.50597 1.8606 4.02547 1.59521C4.54767 1.33209 5.10657 1.14873 5.68343 1.05127C6.30537 0.949836 6.93405 0.894996 7.5642 0.88721L8.46906 0.875H111.526L112.442 0.8877C113.066 0.895099 113.689 0.94945 114.305 1.05029C114.888 1.14898 115.453 1.33362 115.981 1.59814C117.022 2.13299 117.869 2.97916 118.403 4.01807C118.664 4.53758 118.845 5.09351 118.939 5.66699C119.044 6.29099 119.102 6.92174 119.114 7.5542C119.117 7.8374 119.117 8.1416 119.117 8.44434C119.125 8.81934 119.125 9.17627 119.125 9.53613V30.4648C119.125 30.8281 119.125 31.1826 119.117 31.54C119.117 31.8652 119.117 32.1631 119.113 32.4697C119.101 33.0909 119.044 33.7104 118.941 34.3232C118.848 34.9043 118.665 35.4675 118.4 35.9932C118.136 36.5056 117.792 36.9733 117.381 37.3789C116.972 37.7927 116.498 38.1379 115.978 38.4014C115.451 38.6674 114.887 38.8527 114.305 38.9512C113.686 39.0522 113.059 39.1067 112.431 39.1143C112.137 39.1211 111.83 39.125 111.531 39.125L110.444 39.127L8.46856 39.125Z" fill="black"/>
        //-           <path d="M24.8384 20.3008C24.8492 19.4662 25.0715 18.6478 25.4847 17.9218C25.8978 17.1959 26.4885 16.5859 27.2015 16.1488C26.7485 15.5036 26.1509 14.9727 25.4561 14.5981C24.7614 14.2236 23.9886 14.0157 23.1992 13.9911C21.5152 13.8148 19.8827 14.9959 19.0246 14.9959C18.1499 14.9959 16.8287 14.0086 15.406 14.0378C14.4857 14.0674 13.5889 14.3343 12.8028 14.8123C12.0167 15.2904 11.3682 15.9633 10.9205 16.7656C8.98105 20.1141 10.4277 25.0351 12.2855 27.7417C13.215 29.0671 14.3013 30.5475 15.7228 30.495C17.1137 30.4375 17.6332 29.6105 19.3122 29.6105C20.9756 29.6105 21.463 30.495 22.9133 30.4616C24.4058 30.4375 25.3462 29.1304 26.2431 27.7925C26.911 26.8481 27.4249 25.8044 27.7658 24.7C26.8987 24.3343 26.1587 23.7221 25.6381 22.9398C25.1175 22.1575 24.8394 21.2397 24.8384 20.3008Z" fill="white"/>
        //-           <path d="M22.0992 12.2108C22.913 11.2366 23.3139 9.98445 23.2168 8.72021C21.9735 8.85044 20.825 9.44299 20.0002 10.3798C19.597 10.8375 19.2881 11.3699 19.0913 11.9467C18.8945 12.5235 18.8136 13.1333 18.8533 13.7412C19.4752 13.7476 20.0904 13.6132 20.6527 13.3481C21.2149 13.083 21.7095 12.6942 22.0992 12.2108Z" fill="white"/>
        //-           <path d="M42.421 27.1397H37.6743L36.5344 30.4961H34.5239L39.0199 18.0781H41.1088L45.6047 30.4961H43.56L42.421 27.1397ZM38.166 25.5908H41.9285L40.0737 20.1436H40.0218L38.166 25.5908Z" fill="white"/>
        //-           <path d="M55.3145 25.9699C55.3145 28.7834 53.8044 30.591 51.5256 30.591C50.9483 30.6211 50.3742 30.4885 49.869 30.2084C49.3638 29.9283 48.9479 29.5119 48.6689 29.007H48.6258V33.4914H46.7622V21.4426H48.5661V22.9485H48.6004C48.8922 22.446 49.3151 22.0318 49.8241 21.7499C50.3332 21.4681 50.9093 21.3291 51.4913 21.3479C53.7956 21.3479 55.3145 23.1643 55.3145 25.9699ZM53.399 25.9699C53.399 24.1369 52.449 22.9319 50.9997 22.9319C49.5758 22.9319 48.618 24.1623 48.618 25.9699C48.618 27.7942 49.5758 29.0158 50.9997 29.0158C52.4491 29.0158 53.399 27.8196 53.399 25.9699Z" fill="white"/>
        //-           <path d="M65.3074 25.9699C65.3074 28.7834 63.7973 30.591 61.5185 30.591C60.9412 30.6211 60.3671 30.4885 59.8619 30.2084C59.3567 29.9283 58.9408 29.5119 58.6619 29.007H58.6187V33.4914H56.7551V21.4426H58.559V22.9484H58.5933C58.885 22.446 59.308 22.0318 59.817 21.7499C60.3261 21.4681 60.9022 21.3291 61.4842 21.3479C63.7885 21.3479 65.3074 23.1643 65.3074 25.9699ZM63.3919 25.9699C63.3919 24.1369 62.442 22.9318 60.9926 22.9318C59.5687 22.9318 58.6109 24.1623 58.6109 25.9699C58.6109 27.7942 59.5687 29.0158 60.9926 29.0158C62.442 29.0158 63.3919 27.8195 63.3919 25.9699H63.3919Z" fill="white"/>
        //-           <path d="M71.9116 27.0362C72.0497 28.2676 73.2494 29.0762 74.8887 29.0762C76.4595 29.0762 77.5896 28.2676 77.5896 27.1572C77.5896 26.1934 76.908 25.6162 75.2941 25.2207L73.6803 24.833C71.3936 24.2822 70.332 23.2158 70.332 21.4854C70.332 19.3428 72.2044 17.8711 74.8632 17.8711C77.4946 17.8711 79.2985 19.3428 79.3592 21.4854H77.478C77.3653 20.2461 76.3381 19.4981 74.8368 19.4981C73.3355 19.4981 72.3082 20.2549 72.3082 21.3565C72.3082 22.2344 72.9644 22.751 74.5694 23.1465L75.9414 23.4824C78.4964 24.0849 79.558 25.1084 79.558 26.9248C79.558 29.248 77.7022 30.7031 74.7506 30.7031C71.989 30.7031 70.1244 29.2822 70.0039 27.0361L71.9116 27.0362Z" fill="white"/>
        //-           <path d="M83.5802 19.2998V21.4424H85.3067V22.9141H83.5802V27.9053C83.5802 28.6807 83.9259 29.042 84.6849 29.042C84.8898 29.0384 85.0945 29.0241 85.2979 28.999V30.4619C84.9567 30.5255 84.6099 30.5543 84.2628 30.5478C82.4246 30.5478 81.7078 29.8593 81.7078 28.1035V22.9141H80.3877V21.4424H81.7078V19.2998H83.5802Z" fill="white"/>
        //-           <path d="M86.3066 25.9697C86.3066 23.1211 87.9891 21.3311 90.6126 21.3311C93.245 21.3311 94.9196 23.1211 94.9196 25.9697C94.9196 28.8262 93.2538 30.6084 90.6126 30.6084C87.9724 30.6084 86.3066 28.8262 86.3066 25.9697ZM93.0207 25.9697C93.0207 24.0156 92.1227 22.8623 90.6126 22.8623C89.1025 22.8623 88.2055 24.0244 88.2055 25.9697C88.2055 27.9316 89.1025 29.0762 90.6126 29.0762C92.1227 29.0762 93.0207 27.9316 93.0207 25.9697H93.0207Z" fill="white"/>
        //-           <path d="M96.4561 21.4425H98.2335V22.9835H98.2766C98.3969 22.5022 98.6796 22.0769 99.0773 21.779C99.475 21.4811 99.9634 21.3288 100.46 21.3478C100.675 21.347 100.889 21.3703 101.099 21.4171V23.1554C100.828 23.0728 100.545 23.0348 100.262 23.0431C99.9909 23.0321 99.721 23.0797 99.4704 23.1826C99.2199 23.2855 98.9946 23.4412 98.8102 23.6391C98.6257 23.837 98.4863 24.0724 98.4016 24.3291C98.317 24.5857 98.289 24.8576 98.3197 25.1261V30.4962H96.4561L96.4561 21.4425Z" fill="white"/>
        //-           <path d="M109.691 27.8369C109.441 29.4805 107.836 30.6084 105.782 30.6084C103.141 30.6084 101.501 28.8437 101.501 26.0127C101.501 23.1729 103.15 21.3311 105.704 21.3311C108.216 21.3311 109.795 23.0518 109.795 25.7969V26.4336H103.383V26.5459C103.353 26.8791 103.395 27.2148 103.505 27.5306C103.616 27.8464 103.793 28.1352 104.024 28.3778C104.255 28.6203 104.535 28.8111 104.845 28.9374C105.156 29.0637 105.49 29.1226 105.825 29.1103C106.265 29.1515 106.707 29.0498 107.085 28.8203C107.463 28.5909 107.756 28.246 107.922 27.8369L109.691 27.8369ZM103.392 25.1348H107.931C107.947 24.8352 107.902 24.5354 107.797 24.2541C107.692 23.9729 107.53 23.7164 107.321 23.5006C107.111 23.2849 106.86 23.1145 106.582 23.0003C106.303 22.8861 106.004 22.8305 105.704 22.8369C105.4 22.8351 105.099 22.8933 104.819 23.008C104.538 23.1227 104.282 23.2918 104.067 23.5054C103.853 23.7191 103.682 23.973 103.566 24.2527C103.45 24.5323 103.391 24.8321 103.392 25.1348V25.1348Z" fill="white"/>
        //-           <path d="M36.8415 11.2534H37.6416C37.7794 11.2705 37.9192 11.259 38.0522 11.2195C38.1852 11.1801 38.3086 11.1136 38.4146 11.0242C38.5206 10.9349 38.6069 10.8246 38.668 10.7003C38.7291 10.576 38.7638 10.4405 38.7698 10.3022C38.7698 9.75193 38.3546 9.39646 37.6504 9.39646C37.5093 9.3768 37.3657 9.38553 37.228 9.42214C37.0904 9.45875 36.9615 9.52249 36.8489 9.60961C36.7363 9.69672 36.6424 9.80544 36.5727 9.92935C36.503 10.0533 36.4589 10.1898 36.443 10.331H35.5645C35.5796 10.0747 35.6475 9.82428 35.7639 9.59527C35.8803 9.36626 36.0427 9.16359 36.241 8.99989C36.4394 8.83618 36.6694 8.71494 36.9167 8.64372C37.1641 8.5725 37.4235 8.55282 37.6788 8.58591C38.8569 8.58591 39.6864 9.24362 39.6864 10.1904C39.6892 10.5076 39.5828 10.8161 39.385 11.0645C39.1871 11.3129 38.9098 11.486 38.5994 11.5551V11.6255C38.9674 11.6417 39.314 11.8027 39.5634 12.073C39.8128 12.3434 39.9447 12.7013 39.9303 13.0683C39.903 13.3322 39.8232 13.588 39.6956 13.8208C39.5679 14.0535 39.395 14.2585 39.1868 14.4237C38.9787 14.5889 38.7396 14.7111 38.4835 14.7829C38.2274 14.8548 37.9595 14.875 37.6955 14.8423C37.4309 14.8782 37.1618 14.8607 36.9042 14.7907C36.6466 14.7208 36.4058 14.5998 36.196 14.4351C35.9863 14.2703 35.812 14.0651 35.6834 13.8317C35.5549 13.5983 35.4749 13.3415 35.448 13.0766H36.3401C36.394 13.6474 36.9199 14.0156 37.6955 14.0156C38.4711 14.0156 38.9774 13.6021 38.9774 13.0191C38.9774 12.4277 38.5005 12.0635 37.6671 12.0635H36.8415V11.2534Z" fill="white"/>
        //-           <path d="M40.9438 13.4243C40.9438 12.6138 41.55 12.1465 42.6234 12.0801L43.8465 12.0098V11.6211C43.8465 11.1455 43.5321 10.877 42.922 10.877C42.4246 10.877 42.0808 11.0591 41.9809 11.3774H41.1182C41.2092 10.604 41.9398 10.1079 42.9642 10.1079C44.0962 10.1079 44.7347 10.6699 44.7347 11.6211V14.6977H43.8759V14.0649H43.8054C43.6623 14.2919 43.4613 14.477 43.223 14.6012C42.9847 14.7254 42.7176 14.7843 42.449 14.7719C42.2595 14.7916 42.0679 14.7714 41.8866 14.7127C41.7053 14.654 41.5384 14.5581 41.3966 14.4311C41.2548 14.3042 41.1412 14.149 41.0633 13.9756C40.9853 13.8021 40.9446 13.6144 40.9438 13.4243ZM43.8465 13.0395V12.6631L42.7438 12.7334C42.1219 12.7749 41.8399 12.9858 41.8399 13.3828C41.8399 13.7881 42.1924 14.0239 42.6772 14.0239C42.8193 14.0383 42.9627 14.024 43.0991 13.9819C43.2355 13.9398 43.362 13.8708 43.4711 13.7789C43.5802 13.6871 43.6697 13.5743 43.7342 13.4473C43.7987 13.3202 43.8369 13.1816 43.8465 13.0395Z" fill="white"/>
        //-           <path d="M47.0997 10.9429V14.6978H46.2085V10.1948H49.1817V10.9428L47.0997 10.9429Z" fill="white"/>
        //-           <path d="M54.5826 12.4443C54.5826 13.875 53.8569 14.7719 52.717 14.7719C52.4372 14.791 52.1578 14.7299 51.9116 14.5959C51.6654 14.4619 51.4627 14.2606 51.3274 14.0156H51.2569V16.1948H50.3657V10.1948H51.2236V10.939H51.2902C51.4279 10.6854 51.6332 10.4747 51.8835 10.3302C52.1337 10.1857 52.4191 10.113 52.7082 10.1201C53.8569 10.1201 54.5826 11.0131 54.5826 12.4443ZM53.666 12.4443C53.666 11.4931 53.2145 10.9184 52.4595 10.9184C51.7094 10.9184 51.2403 11.5053 51.2403 12.4482C51.2403 13.3867 51.7093 13.9741 52.4556 13.9741C53.2145 13.9741 53.666 13.3994 53.666 12.4443Z" fill="white"/>
        //-           <path d="M55.7696 16.3106V15.5454C55.8661 15.5576 55.9632 15.5632 56.0604 15.562C56.2503 15.576 56.4387 15.5197 56.5894 15.4037C56.7402 15.2877 56.8426 15.1203 56.8772 14.9336L56.9438 14.7144L55.3093 10.1948H56.2798L57.4119 13.7715H57.4824L58.6106 10.1948H59.5556L57.8722 14.8838C57.4864 15.9795 57.0594 16.3311 56.1388 16.3311C56.0644 16.3311 55.8529 16.3228 55.7696 16.3106Z" fill="white"/>
        //-           <path d="M60.2498 13.42H61.137C61.2242 13.817 61.5973 14.024 62.1193 14.024C62.7127 14.024 63.077 13.7633 63.077 13.358C63.077 12.9239 62.7499 12.7169 62.1193 12.7169H61.4435V12.0265H62.1075C62.6461 12.0265 62.9203 11.8199 62.9203 11.4435C62.9203 11.1129 62.6549 10.8605 62.1075 10.8605C61.609 10.8605 61.2447 11.0714 61.1869 11.4269H60.3281C60.3923 11.0184 60.6147 10.6514 60.9475 10.4048C61.2802 10.1581 61.6968 10.0516 62.1075 10.108C63.1808 10.108 63.7948 10.5919 63.7948 11.3527C63.7999 11.5645 63.7318 11.7717 63.602 11.9395C63.4722 12.1073 63.2886 12.2256 63.0819 12.2746V12.3449C63.328 12.3765 63.554 12.4972 63.7168 12.6839C63.8796 12.8707 63.968 13.1106 63.9652 13.358C63.9652 14.214 63.2347 14.7804 62.1193 14.7804C61.1331 14.7804 60.332 14.3297 60.2498 13.42Z" fill="white"/>
        //-           <path d="M65.2485 14.6978V10.1948H66.1319V13.292H66.2024L68.2834 10.1948H69.1667V14.6978H68.2834V11.584H68.2168L66.1319 14.6978L65.2485 14.6978Z" fill="white"/>
        //-           <path d="M74.033 10.9428H72.611V14.6977H71.7189V10.9428H70.2969V10.1948H74.033V10.9428Z" fill="white"/>
        //-           <path d="M78.8338 13.482C78.7124 13.8935 78.4498 14.2494 78.092 14.4875C77.7342 14.7257 77.3038 14.8309 76.8762 14.7847C76.5787 14.7926 76.283 14.7358 76.0098 14.6182C75.7365 14.5007 75.4922 14.3253 75.2937 14.1041C75.0952 13.883 74.9474 13.6214 74.8605 13.3376C74.7735 13.0538 74.7496 12.7545 74.7903 12.4605C74.7506 12.1656 74.775 11.8657 74.8618 11.581C74.9485 11.2964 75.0955 11.0336 75.293 10.8105C75.4904 10.5874 75.7335 10.4093 76.006 10.2881C76.2785 10.1669 76.5739 10.1054 76.8723 10.108C78.1287 10.108 78.8877 10.964 78.8877 12.378V12.6881H75.6991V12.7379C75.6849 12.9032 75.7056 13.0696 75.7599 13.2264C75.8141 13.3832 75.9006 13.527 76.0138 13.6485C76.1271 13.77 76.2646 13.8665 76.4175 13.9318C76.5704 13.9972 76.7353 14.0299 76.9016 14.0279C77.1147 14.0533 77.3305 14.0149 77.5216 13.9177C77.7127 13.8205 77.8705 13.6689 77.975 13.482L78.8338 13.482ZM75.699 12.0308H77.9788C77.9901 11.8798 77.9696 11.7281 77.9185 11.5854C77.8675 11.4427 77.7871 11.3123 77.6825 11.2024C77.578 11.0926 77.4515 11.0058 77.3113 10.9475C77.1711 10.8893 77.0202 10.861 76.8683 10.8643C76.7141 10.8623 76.5611 10.891 76.4183 10.9489C76.2754 11.0068 76.1457 11.0926 76.0367 11.2014C75.9277 11.3101 75.8416 11.4396 75.7836 11.582C75.7257 11.7245 75.6969 11.8771 75.6991 12.0308H75.699Z" fill="white"/>
        //-           <path d="M82.6118 10.1948H84.6478C85.5311 10.1948 86.0492 10.6411 86.0492 11.3398C86.0505 11.5615 85.9755 11.777 85.8366 11.9501C85.6978 12.1233 85.5035 12.2436 85.2863 12.291V12.3613C85.55 12.3779 85.7973 12.4949 85.9769 12.6881C86.1566 12.8813 86.2551 13.1359 86.2519 13.3994C86.2519 14.185 85.6594 14.6977 84.6684 14.6977H82.6118V10.1948ZM83.4952 10.877V12.043H84.3785C84.9171 12.043 85.1747 11.8364 85.1747 11.4556C85.1747 11.1045 84.9504 10.8769 84.4774 10.8769L83.4952 10.877ZM83.4952 12.6963V14.0156H84.5519C85.0787 14.0156 85.3608 13.7837 85.3608 13.3579C85.3608 12.9072 85.0415 12.6963 84.4402 12.6963L83.4952 12.6963Z" fill="white"/>
        //-           </g>
        //-           <defs>
        //-           <clipPath id="clip0_1_517">
        //-           <rect width="120" height="40" fill="white"/>
        //-           </clipPath>
        //-           </defs>
        //-         </svg>
        //-       a.footer__societal-link(href="#")
        //-         <svg width="135" height="40" viewBox="0 0 135 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        //-           <g clip-path="url(#clip0_1_489)">
        //-           <path d="M130 40H5C2.2 40 0 37.8 0 35V5C0 2.2 2.2 0 5 0H130C132.8 0 135 2.2 135 5V35C135 37.8 132.8 40 130 40Z" fill="black"/>
        //-           <path d="M130 0.8C132.3 0.8 134.2 2.7 134.2 5V35C134.2 37.3 132.3 39.2 130 39.2H5C2.7 39.2 0.8 37.3 0.8 35V5C0.8 2.7 2.7 0.8 5 0.8H130ZM130 0H5C2.2 0 0 2.3 0 5V35C0 37.8 2.2 40 5 40H130C132.8 40 135 37.8 135 35V5C135 2.3 132.8 0 130 0Z" fill="#A6A6A6"/>
        //-           <path d="M68.1001 21.8001C65.7001 21.8001 63.8001 23.6001 63.8001 26.1001C63.8001 28.5001 65.7001 30.4001 68.1001 30.4001C70.5001 30.4001 72.4001 28.6001 72.4001 26.1001C72.4001 23.5001 70.5001 21.8001 68.1001 21.8001ZM68.1001 28.6001C66.8001 28.6001 65.7001 27.5001 65.7001 26.0001C65.7001 24.5001 66.8001 23.4001 68.1001 23.4001C69.4001 23.4001 70.5001 24.4001 70.5001 26.0001C70.5001 27.5001 69.4001 28.6001 68.1001 28.6001ZM58.8001 21.8001C56.4001 21.8001 54.5001 23.6001 54.5001 26.1001C54.5001 28.5001 56.4001 30.4001 58.8001 30.4001C61.2001 30.4001 63.1001 28.6001 63.1001 26.1001C63.1001 23.5001 61.2001 21.8001 58.8001 21.8001ZM58.8001 28.6001C57.5001 28.6001 56.4001 27.5001 56.4001 26.0001C56.4001 24.5001 57.5001 23.4001 58.8001 23.4001C60.1001 23.4001 61.2001 24.4001 61.2001 26.0001C61.2001 27.5001 60.1001 28.6001 58.8001 28.6001ZM47.7001 23.1001V24.9001H52.0001C51.9001 25.9001 51.5001 26.7001 51.0001 27.2001C50.4001 27.8001 49.4001 28.5001 47.7001 28.5001C45.0001 28.5001 43.0001 26.4001 43.0001 23.7001C43.0001 21.0001 45.1001 18.9001 47.7001 18.9001C49.1001 18.9001 50.2001 19.5001 51.0001 20.2001L52.3001 18.9001C51.2001 17.9001 49.8001 17.1001 47.8001 17.1001C44.2001 17.1001 41.1001 20.1001 41.1001 23.7001C41.1001 27.3001 44.2001 30.3001 47.8001 30.3001C49.8001 30.3001 51.2001 29.7001 52.4001 28.4001C53.6001 27.2001 54.0001 25.5001 54.0001 24.2001C54.0001 23.8001 54.0001 23.4001 53.9001 23.1001H47.7001ZM93.1001 24.5001C92.7001 23.5001 91.7001 21.8001 89.5001 21.8001C87.3001 21.8001 85.5001 23.5001 85.5001 26.1001C85.5001 28.5001 87.3001 30.4001 89.7001 30.4001C91.6001 30.4001 92.8001 29.2001 93.2001 28.5001L91.8001 27.5001C91.3001 28.2001 90.7001 28.7001 89.7001 28.7001C88.7001 28.7001 88.1001 28.3001 87.6001 27.4001L93.3001 25.0001L93.1001 24.5001ZM87.3001 25.9001C87.3001 24.3001 88.6001 23.4001 89.5001 23.4001C90.2001 23.4001 90.9001 23.8001 91.1001 24.3001L87.3001 25.9001ZM82.6001 30.0001H84.5001V17.5001H82.6001V30.0001ZM79.6001 22.7001C79.1001 22.2001 78.3001 21.7001 77.3001 21.7001C75.2001 21.7001 73.2001 23.6001 73.2001 26.0001C73.2001 28.4001 75.1001 30.2001 77.3001 30.2001C78.3001 30.2001 79.1001 29.7001 79.5001 29.2001H79.6001V29.8001C79.6001 31.4001 78.7001 32.3001 77.3001 32.3001C76.2001 32.3001 75.4001 31.5001 75.2001 30.8001L73.6001 31.5001C74.1001 32.6001 75.3001 34.0001 77.4001 34.0001C79.6001 34.0001 81.4001 32.7001 81.4001 29.6001V22.0001H79.6001V22.7001ZM77.4001 28.6001C76.1001 28.6001 75.0001 27.5001 75.0001 26.0001C75.0001 24.5001 76.1001 23.4001 77.4001 23.4001C78.7001 23.4001 79.7001 24.5001 79.7001 26.0001C79.7001 27.5001 78.7001 28.6001 77.4001 28.6001ZM101.8 17.5001H97.3001V30.0001H99.2001V25.3001H101.8C103.9 25.3001 105.9 23.8001 105.9 21.4001C105.9 19.0001 103.9 17.5001 101.8 17.5001ZM101.9 23.5001H99.2001V19.2001H101.9C103.3 19.2001 104.1 20.4001 104.1 21.3001C104 22.4001 103.2 23.5001 101.9 23.5001ZM113.4 21.7001C112 21.7001 110.6 22.3001 110.1 23.6001L111.8 24.3001C112.2 23.6001 112.8 23.4001 113.5 23.4001C114.5 23.4001 115.4 24.0001 115.5 25.0001V25.1001C115.2 24.9001 114.4 24.6001 113.6 24.6001C111.8 24.6001 110 25.6001 110 27.4001C110 29.1001 111.5 30.2001 113.1 30.2001C114.4 30.2001 115 29.6001 115.5 29.0001H115.6V30.0001H117.4V25.2001C117.2 23.0001 115.5 21.7001 113.4 21.7001ZM113.2 28.6001C112.6 28.6001 111.7 28.3001 111.7 27.5001C111.7 26.5001 112.8 26.2001 113.7 26.2001C114.5 26.2001 114.9 26.4001 115.4 26.6001C115.2 27.8001 114.2 28.6001 113.2 28.6001ZM123.7 22.0001L121.6 27.4001H121.5L119.3 22.0001H117.3L120.6 29.6001L118.7 33.8001H120.6L125.7 22.0001H123.7ZM106.9 30.0001H108.8V17.5001H106.9V30.0001Z" fill="white"/>
        //-           <path d="M10.4 7.5C10.1 7.8 10 8.3 10 8.9V31C10 31.6 10.2 32.1 10.5 32.4L10.6 32.5L23 20.1V20V19.9L10.4 7.5Z" fill="url(#paint0_linear_1_489)"/>
        //-           <path d="M26.9999 24.2998L22.8999 20.1998V19.9998V19.8998L26.9999 15.7998L27.0999 15.8998L31.9999 18.6998C33.3999 19.4998 33.3999 20.7998 31.9999 21.5998L26.9999 24.2998Z" fill="url(#paint1_linear_1_489)"/>
        //-           <path d="M27.0999 24.2L22.8999 20L10.3999 32.5C10.8999 33 11.5999 33 12.4999 32.6L27.0999 24.2Z" fill="url(#paint2_linear_1_489)"/>
        //-           <path d="M27.0999 15.7996L12.4999 7.49962C11.5999 6.99962 10.8999 7.09962 10.3999 7.59962L22.8999 19.9996L27.0999 15.7996Z" fill="url(#paint3_linear_1_489)"/>
        //-           <path opacity="0.2" d="M26.9999 24.0996L12.4999 32.2996C11.6999 32.7996 10.9999 32.6996 10.4999 32.2996L10.3999 32.3996L10.4999 32.4996C10.9999 32.8996 11.6999 32.9996 12.4999 32.4996L26.9999 24.0996Z" fill="black"/>
        //-           <path opacity="0.12" d="M10.4 32.2994C10.1 31.9994 10 31.4994 10 30.8994V30.9994C10 31.5994 10.2 32.0994 10.5 32.3994V32.2994H10.4Z" fill="black"/>
        //-           <path opacity="0.12" d="M32 21.3L27 24.1L27.1 24.2L32 21.4C32.7 21 33 20.5 33 20C33 20.5 32.6 20.9 32 21.3Z" fill="black"/>
        //-           <path opacity="0.25" d="M12.5 7.59978L32 18.6998C32.6 19.0998 33 19.4998 33 19.9998C33 19.4998 32.7 18.9998 32 18.5998L12.5 7.49978C11.1 6.69978 10 7.29978 10 8.89978V8.99978C10 7.49978 11.1 6.79978 12.5 7.59978Z" fill="white"/>
        //-           <path d="M42.0999 14.3H41.3999V12.3H41.9999C42.4999 11.9 42.7999 11.1 42.7999 10V7H46.7999V12.3H47.4999V14.3H46.7999V13H42.1999V14.3H42.0999ZM43.4999 10C43.4999 10.9 43.2999 11.7 42.8999 12.3H45.8999V7.7H43.3999V10H43.4999Z" fill="white" stroke="white" stroke-width="0.2" stroke-miterlimit="10"/>
        //-           <path d="M53.4001 12.1999C52.8001 12.7999 52.1001 13.0999 51.2001 13.0999C50.3001 13.0999 49.6001 12.7999 49.0001 12.1999C48.4001 11.5999 48.1001 10.8999 48.1001 9.9999C48.1001 9.0999 48.4001 8.3999 49.0001 7.7999C49.6001 7.1999 50.3001 6.8999 51.2001 6.8999C52.1001 6.8999 52.8001 7.1999 53.4001 7.7999C54.0001 8.3999 54.3001 9.0999 54.3001 9.9999C54.3001 10.8999 54.0001 11.5999 53.4001 12.1999ZM49.6001 11.6999C50.0001 12.0999 50.6001 12.3999 51.2001 12.3999C51.8001 12.3999 52.4001 12.1999 52.8001 11.6999C53.2001 11.2999 53.5001 10.6999 53.5001 9.9999C53.5001 9.2999 53.3001 8.6999 52.8001 8.2999C52.4001 7.8999 51.8001 7.5999 51.2001 7.5999C50.6001 7.5999 50.0001 7.7999 49.6001 8.2999C49.2001 8.6999 48.9001 9.2999 48.9001 9.9999C48.9001 10.6999 49.1001 11.2999 49.6001 11.6999Z" fill="white" stroke="white" stroke-width="0.2" stroke-miterlimit="10"/>
        //-           <path d="M58.2001 13.0999C57.3001 13.0999 56.6001 12.7999 56.0001 12.1999C55.4001 11.5999 55.1001 10.8999 55.1001 9.9999C55.1001 9.0999 55.4001 8.3999 56.0001 7.7999C56.6001 7.1999 57.3001 6.8999 58.2001 6.8999C59.1001 6.8999 59.8001 7.1999 60.4001 7.8999L59.9001 8.3999C59.5001 7.8999 58.9001 7.5999 58.2001 7.5999C57.5001 7.5999 57.0001 7.7999 56.5001 8.2999C56.0001 8.6999 55.8001 9.2999 55.8001 9.9999C55.8001 10.6999 56.0001 11.2999 56.5001 11.6999C56.9001 12.0999 57.5001 12.3999 58.2001 12.3999C58.9001 12.3999 59.5001 12.0999 60.0001 11.4999L60.5001 11.9999C60.2001 12.2999 59.9001 12.5999 59.5001 12.7999C59.1001 12.9999 58.7001 13.0999 58.2001 13.0999Z" fill="white" stroke="white" stroke-width="0.2" stroke-miterlimit="10"/>
        //-           <path d="M63.6997 13H62.8997V7.7H61.1997V7H65.2997V7.7H63.5997V13H63.6997Z" fill="white" stroke="white" stroke-width="0.2" stroke-miterlimit="10"/>
        //-           <path d="M70.5998 7L68.2998 12.1C67.9998 12.8 67.4998 13.2 66.8998 13.2C66.6998 13.2 66.4998 13.2 66.2998 13.1L66.4998 12.4C66.5998 12.5 66.7998 12.5 66.8998 12.5C67.0998 12.5 67.1998 12.5 67.2998 12.4C67.3998 12.3 67.4998 12.2 67.5998 12L67.7998 11.5L65.7998 7.1H66.6998L68.1998 10.5L69.6998 7H70.5998Z" fill="white" stroke="white" stroke-width="0.2" stroke-miterlimit="10"/>
        //-           <path d="M71.5 13V7H75.8V13H75V7.7H72.2V13H71.5Z" fill="white" stroke="white" stroke-width="0.2" stroke-miterlimit="10"/>
        //-           <path d="M77.1997 13V7H77.9997V9.6H80.9997V7H81.7997V13H80.9997V10.3H77.9997V13H77.1997Z" fill="white" stroke="white" stroke-width="0.2" stroke-miterlimit="10"/>
        //-           <path d="M88.0998 12.1999C87.4998 12.7999 86.7998 13.0999 85.8998 13.0999C84.9998 13.0999 84.2998 12.7999 83.6998 12.1999C83.0998 11.5999 82.7998 10.8999 82.7998 9.9999C82.7998 9.0999 83.0998 8.3999 83.6998 7.7999C84.2998 7.1999 84.9998 6.8999 85.8998 6.8999C86.7998 6.8999 87.4998 7.1999 88.0998 7.7999C88.6998 8.3999 88.9998 9.0999 88.9998 9.9999C88.8998 10.8999 88.5998 11.5999 88.0998 12.1999ZM84.1998 11.6999C84.5998 12.0999 85.1998 12.3999 85.7998 12.3999C86.3998 12.3999 86.9998 12.1999 87.3998 11.6999C87.7998 11.2999 88.0998 10.6999 88.0998 9.9999C88.0998 9.2999 87.8998 8.6999 87.3998 8.2999C86.9998 7.8999 86.3998 7.5999 85.7998 7.5999C85.1998 7.5999 84.5998 7.7999 84.1998 8.2999C83.7998 8.6999 83.4998 9.2999 83.4998 9.9999C83.4998 10.6999 83.7998 11.2999 84.1998 11.6999Z" fill="white" stroke="white" stroke-width="0.2" stroke-miterlimit="10"/>
        //-           <path d="M92.1001 13V7H94.3001C94.8001 7 95.2001 7.2 95.5001 7.5C95.8001 7.8 96.0001 8.2 96.0001 8.6C96.0001 8.9 95.9001 9.1 95.8001 9.4C95.7001 9.6 95.5001 9.8 95.2001 9.9C95.5001 10 95.7001 10.2 95.9001 10.4C96.1001 10.6 96.2001 10.9 96.2001 11.3C96.2001 11.8 96.0001 12.2 95.7001 12.5C95.3001 12.8 94.9001 13 94.4001 13H92.1001ZM92.9001 9.6H94.3001C94.6001 9.6 94.8001 9.5 95.0001 9.3C95.2001 9.1 95.3001 8.9 95.3001 8.7C95.3001 8.5 95.1001 8.2 95.0001 8C94.8001 7.8 94.6001 7.7 94.3001 7.7H92.9001V9.6ZM92.9001 12.3H94.5001C94.8001 12.3 95.0001 12.2 95.2001 12C95.4001 11.8 95.5001 11.6 95.5001 11.3C95.5001 11.1 95.4001 10.8 95.2001 10.6C95.0001 10.4 94.8001 10.3 94.5001 10.3H93.0001V12.3H92.9001Z" fill="white" stroke="white" stroke-width="0.2" stroke-miterlimit="10"/>
        //-           </g>
        //-           <defs>
        //-           <linearGradient id="paint0_linear_1_489" x1="21.7996" y1="8.7098" x2="5.0172" y2="25.4922" gradientUnits="userSpaceOnUse">
        //-           <stop stop-color="#00A0FF"/>
        //-           <stop offset="0.00657445" stop-color="#00A1FF"/>
        //-           <stop offset="0.2601" stop-color="#00BEFF"/>
        //-           <stop offset="0.5122" stop-color="#00D2FF"/>
        //-           <stop offset="0.7604" stop-color="#00DFFF"/>
        //-           <stop offset="1" stop-color="#00E3FF"/>
        //-           </linearGradient>
        //-           <linearGradient id="paint1_linear_1_489" x1="33.8342" y1="20.0014" x2="9.6373" y2="20.0014" gradientUnits="userSpaceOnUse">
        //-           <stop stop-color="#FFE000"/>
        //-           <stop offset="0.4087" stop-color="#FFBD00"/>
        //-           <stop offset="0.7754" stop-color="#FFA500"/>
        //-           <stop offset="1" stop-color="#FF9C00"/>
        //-           </linearGradient>
        //-           <linearGradient id="paint2_linear_1_489" x1="24.8268" y1="22.2962" x2="2.06851" y2="45.0545" gradientUnits="userSpaceOnUse">
        //-           <stop stop-color="#FF3A44"/>
        //-           <stop offset="1" stop-color="#C31162"/>
        //-           </linearGradient>
        //-           <linearGradient id="paint3_linear_1_489" x1="7.2971" y1="0.175923" x2="17.4597" y2="10.3384" gradientUnits="userSpaceOnUse">
        //-           <stop stop-color="#32A071"/>
        //-           <stop offset="0.0685" stop-color="#2DA771"/>
        //-           <stop offset="0.4762" stop-color="#15CF74"/>
        //-           <stop offset="0.8009" stop-color="#06E775"/>
        //-           <stop offset="1" stop-color="#00F076"/>
        //-           </linearGradient>
        //-           <clipPath id="clip0_1_489">
        //-           <rect width="135" height="40" fill="white"/>
        //-           </clipPath>
        //-           </defs>
        //-         </svg>
      hr.footer__top-hr
      .footer__end
        .p1
          p 
          |The site is for informational purposes only and under no circumstances is a public offer as defined by the provisions of Article 437
          |of the Civil Code of the Russian Federation. For detailed information on the availability and cost of the specified apartments, storage rooms,
          |parking spaces, commercial premises please contact us
          |to specialists using a special contact form or by phone 8 800 550-68-31. All rights reserved © 2020.
        .logo-text 
          p.h2 netlab


        
