.block-composition
  .block-composition__wrapper
    .composition-el.composition-el_bg(js-lazy)
      <video class="" loop muted="muted" autoplay="autoplay" playsinline webkit-playsinline preload="auto" poster="img/living-facility/composition-bg.png">
        <source src="img/living-facility/sky.webm" type="video/webm">
        <source src="img/living-facility/sky.mp4" type="video/mp4">
      </video>
      //-img(src="img/living-facility/composition-bg.png" alt="")
    .composition-el.composition-el_text
      |RC "NEIGHBOR"
    .composition-el.composition-el_textSm
      |From the residential complex "Sosedi" to the shopping center "Plaza" it is 10 minutes by car.
      |Our new residential complex is located in the village of Kabitsyno
    .composition-el.composition-el_main(js-lazy)
      img(src="img/living-facility/composition-main.png" alt="")
  .title-l.bl-deskHidd
    |From the residential complex "Sosedi" to the shopping center "Plaza" it is 10 minutes by car.
    |Our new residential complex is located in the village of Kabitsyno
