.info-img
  img(src="img/living-facility/info-img.jpg" alt="")
  .blured-text
    .title-xxl Cozy evening atmosphere
    .title-l
      |Home is not the walls or the address. Home is mom's cinnamon buns,
      |the smell of which wakes you up on Sunday morning.
      |This is a snack after work - and in 10 minutes you'll be flying
      |on a snowboard down the slope. It's a race to the park, barefoot on the grass,
      |cuddling on the sofa...