.installment-grid 
  .installment-block
    .h2 Installment plan without overpayments
    .p1
      |"New City" offers several installment options,
      |including the possibility of switching to a mortgage. You choose yourself
      |convenient schedule and amount of payments.
    ol 
      li.p1 1st installment (initial) – 5% or 10%;
      li.p1 2nd installment (no later than 60 calendar days before the planned date of commissioning of the facility) — 10% or 5%;
      li.p1 3rd installment (no later than 30 calendar days before the planned date of commissioning of the facility) — 85%.
    .p1
      |Full terms for all types of installments
      |You can check with our managers by phone <a class="p1" href="tel:88005116382">8 800 511-63-82.</a>
  .installment-block 
    .h2 Installment plan with discount
    .p1
      |You can buy real estate from "New City"
      |in installments* and get a good discount:
    ol
      li.p1 up to 10% - for completed projects in Obninsk;
      li.p1 up to 3% - for all commercial premises.
    button.btn1.button-primary Find out more