.grid-benefits
  .grid-benefits__el.big-benefit
    a(href="#").meshed-block.meshed-block_primary
      img(src="img/benefit-img.jpg" alt="")
      .meshed-block__text 
        span.h2 Apartments with ready renovation and smart technologies →
  - var n = 0
  while n < 4
    .grid-benefits__el
      a(href="#").meshed-block.meshed-block_secondary
        img(src="img/benefit-img.jpg" alt="")
        .meshed-block__text 
          span.h2 Apartments with ready renovation and smart technologies →
    - n++
  .grid-benefits__el.big-benefit
    a(href="#").meshed-block.meshed-block_primary
      img(src="img/benefit-img.jpg" alt="")
      .meshed-block__text 
        span.h2 Apartments with ready renovation and smart technologies →
  .grid-benefits__el
    a(href="#").meshed-block.meshed-block_secondary
      img(src="img/benefit-img.jpg" alt="")
      .meshed-block__text 
        span.h2 Apartments with ready renovation and smart technologies →