
.carousel-lf.swiper-container
  .carousel-wrapper.swiper-wrapper(data-fs-ctr) 
    - var c = 0;  
    while c < 1
      .carousel-slide.swiper-slide(data-fs-full data-fs-all="25" data-fs-title="25slides")
        .title-l June 2024
        .carousel-slide__count
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.875 13.75V9.40178V6.17857C16.875 5.074 15.9796 4.17857 14.875 4.17857H13.963C13.447 4.17857 12.951 3.97913 12.5786 3.62193L11.7286 2.80664C11.3562 2.44944 10.8602 2.25 10.3441 2.25H7.59601C7.08 2.25 6.58396 2.44944 6.21157 2.80664L5.36157 3.62193C4.98918 3.97913 4.49313 4.17857 3.97712 4.17857H3.125C2.02043 4.17857 1.125 5.074 1.125 6.17857V13.75C1.125 14.8546 2.02043 15.75 3.125 15.75H14.875C15.9796 15.75 16.875 14.8546 16.875 13.75Z" stroke="white" stroke-width="1.5"/>
            <circle cx="9" cy="9.375" r="2.625" stroke="white" stroke-width="1.5"/>
          </svg>
          p.title-s 25
        .carousel-slide__content(js-lazy)
          img(src="/img/living-facility/carousel-1.jpg", data-img="" alt="")
      - c++
    .carousel-slide.swiper-slide(data-fs-full data-fs-all="13" data-fs-title="13slides")
      .title-l June 2024
      .carousel-slide__count
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.875 13.75V9.40178V6.17857C16.875 5.074 15.9796 4.17857 14.875 4.17857H13.963C13.447 4.17857 12.951 3.97913 12.5786 3.62193L11.7286 2.80664C11.3562 2.44944 10.8602 2.25 10.3441 2.25H7.59601C7.08 2.25 6.58396 2.44944 6.21157 2.80664L5.36157 3.62193C4.98918 3.97913 4.49313 4.17857 3.97712 4.17857H3.125C2.02043 4.17857 1.125 5.074 1.125 6.17857V13.75C1.125 14.8546 2.02043 15.75 3.125 15.75H14.875C15.9796 15.75 16.875 14.8546 16.875 13.75Z" stroke="white" stroke-width="1.5"/>
          <circle cx="9" cy="9.375" r="2.625" stroke="white" stroke-width="1.5"/>
        </svg>
        p.title-s 13
      .carousel-slide__content(js-lazy)
        img(src="/img/living-facility/carousel-2.jpg", data-img="" alt="")
    .carousel-slide.swiper-slide(data-fs-full data-fs-all="5" data-fs-title="5slides")
      .title-l June 2027
      .carousel-slide__count
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.875 13.75V9.40178V6.17857C16.875 5.074 15.9796 4.17857 14.875 4.17857H13.963C13.447 4.17857 12.951 3.97913 12.5786 3.62193L11.7286 2.80664C11.3562 2.44944 10.8602 2.25 10.3441 2.25H7.59601C7.08 2.25 6.58396 2.44944 6.21157 2.80664L5.36157 3.62193C4.98918 3.97913 4.49313 4.17857 3.97712 4.17857H3.125C2.02043 4.17857 1.125 5.074 1.125 6.17857V13.75C1.125 14.8546 2.02043 15.75 3.125 15.75H14.875C15.9796 15.75 16.875 14.8546 16.875 13.75Z" stroke="white" stroke-width="1.5"/>
          <circle cx="9" cy="9.375" r="2.625" stroke="white" stroke-width="1.5"/>
        </svg>
        p.title-s 5
      .carousel-slide__content(js-lazy)
        img(src="/img/living-facility/carousel-3.jpg", data-img="" alt="")
    .carousel-slide.swiper-slide(data-fs-full data-fs-all="7" data-fs-title="7slides")
      .title-l June 2024
      .carousel-slide__count
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.875 13.75V9.40178V6.17857C16.875 5.074 15.9796 4.17857 14.875 4.17857H13.963C13.447 4.17857 12.951 3.97913 12.5786 3.62193L11.7286 2.80664C11.3562 2.44944 10.8602 2.25 10.3441 2.25H7.59601C7.08 2.25 6.58396 2.44944 6.21157 2.80664L5.36157 3.62193C4.98918 3.97913 4.49313 4.17857 3.97712 4.17857H3.125C2.02043 4.17857 1.125 5.074 1.125 6.17857V13.75C1.125 14.8546 2.02043 15.75 3.125 15.75H14.875C15.9796 15.75 16.875 14.8546 16.875 13.75Z" stroke="white" stroke-width="1.5"/>
          <circle cx="9" cy="9.375" r="2.625" stroke="white" stroke-width="1.5"/>
        </svg>
        p.title-s 7
      .carousel-slide__content(js-lazy)
        img(src="/img/living-facility/carousel-4.jpg", data-img="" alt="") 
    .carousel-slide.swiper-slide(data-fs-full data-fs-all="4" data-fs-title="4slides")
      .title-l June 2024
      .carousel-slide__count
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.875 13.75V9.40178V6.17857C16.875 5.074 15.9796 4.17857 14.875 4.17857H13.963C13.447 4.17857 12.951 3.97913 12.5786 3.62193L11.7286 2.80664C11.3562 2.44944 10.8602 2.25 10.3441 2.25H7.59601C7.08 2.25 6.58396 2.44944 6.21157 2.80664L5.36157 3.62193C4.98918 3.97913 4.49313 4.17857 3.97712 4.17857H3.125C2.02043 4.17857 1.125 5.074 1.125 6.17857V13.75C1.125 14.8546 2.02043 15.75 3.125 15.75H14.875C15.9796 15.75 16.875 14.8546 16.875 13.75Z" stroke="white" stroke-width="1.5"/>
          <circle cx="9" cy="9.375" r="2.625" stroke="white" stroke-width="1.5"/>
        </svg>
        p.title-s 4
      .carousel-slide__content(js-lazy)
        img(src="/img/living-facility/carousel-4.jpg", data-img="" alt="") 
    .carousel-slide.swiper-slide(data-fs-full data-fs-all="3" data-fs-title="3slides")
      .title-l June 2024
      .carousel-slide__count
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.875 13.75V9.40178V6.17857C16.875 5.074 15.9796 4.17857 14.875 4.17857H13.963C13.447 4.17857 12.951 3.97913 12.5786 3.62193L11.7286 2.80664C11.3562 2.44944 10.8602 2.25 10.3441 2.25H7.59601C7.08 2.25 6.58396 2.44944 6.21157 2.80664L5.36157 3.62193C4.98918 3.97913 4.49313 4.17857 3.97712 4.17857H3.125C2.02043 4.17857 1.125 5.074 1.125 6.17857V13.75C1.125 14.8546 2.02043 15.75 3.125 15.75H14.875C15.9796 15.75 16.875 14.8546 16.875 13.75Z" stroke="white" stroke-width="1.5"/>
          <circle cx="9" cy="9.375" r="2.625" stroke="white" stroke-width="1.5"/>
        </svg>
        p.title-s 3
      .carousel-slide__content(js-lazy)
        img(src="/img/living-facility/carousel-4.jpg", data-img="" alt="") 
    .carousel-slide.swiper-slide(data-fs-full data-fs-all="4" data-fs-title="4nov")
      .title-l June 2024
      .carousel-slide__count
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.875 13.75V9.40178V6.17857C16.875 5.074 15.9796 4.17857 14.875 4.17857H13.963C13.447 4.17857 12.951 3.97913 12.5786 3.62193L11.7286 2.80664C11.3562 2.44944 10.8602 2.25 10.3441 2.25H7.59601C7.08 2.25 6.58396 2.44944 6.21157 2.80664L5.36157 3.62193C4.98918 3.97913 4.49313 4.17857 3.97712 4.17857H3.125C2.02043 4.17857 1.125 5.074 1.125 6.17857V13.75C1.125 14.8546 2.02043 15.75 3.125 15.75H14.875C15.9796 15.75 16.875 14.8546 16.875 13.75Z" stroke="white" stroke-width="1.5"/>
          <circle cx="9" cy="9.375" r="2.625" stroke="white" stroke-width="1.5"/>
        </svg>
        p.title-s 4
      .carousel-slide__content(js-lazy)
        img(src="/img/living-facility/carousel-4.jpg", data-img="" alt="") 
  .control-inner
    .swiper-pagination.pag-tab
    button.slider-navigation-prev.slide-button.slide-button_horizontal
      span 
        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 15L2 8L9 1" stroke="#0F0F0F" stroke-width="1.5"/>
        </svg>
    button.slider-navigation-next.slide-button.slide-button_horizontal
      span 
        <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 15L2 8L9 1" stroke="#0F0F0F" stroke-width="1.5"/>
        </svg>