
.blured-text
  .title-xxl Cozy evening atmosphere
  .title-l
    |Home is not walls and an address. It's mom's cinnamon buns,
    |the smell of which wakes you up on Sunday morning.
    |It's a snack after work - and in 10 minutes you'll be flying to
    |snowboarding down the slope. It's a race to the park, barefoot on the grass, hugging
    |on the couch...