.maps-block
  <div data-longitude="36.574691" data-latitude="55.130940" data-marker-longitude="36.574691" data-marker-latitude="55.542871" data-icon-src="img/map-icon.svg" data-icon-src-mobile="img/map-icon-mobile.svg" data-action="api/customization.json" class="js-ymap-lf" data-placeholder-caption="Новый город" data-placeholder-balloon="249034, Kaluga region, Obninsk, Polenova st., 9"></div>