.maps-block.map-colorful
  include ../address-lf/_address-lf.pug
  .map-colorful__title 
    .title-xxl Sales office
  <div data-longitude="36.57061787671144" data-latitude="55.12903613960643" data-marker-longitude="36.574691" data-marker-latitude="55.542871" data-icon-src="img/living-facility/icon-marker-colorful.svg" data-action="api/customization.json" class="js-ymap-lf-colorful" data-placeholder-caption="Новый город" data-placeholder-balloon="249034, Kaluga region, Obninsk, Polenova st., 9"></div>
  .map-colorful__address
    .address-lf 
    .title-xl
      |249034, Kaluga region,
      |Obninsk, Polenova St., 9
    .address-lf__days 
      .title-s Working hours
      .title-l
        |Mon–Fri 9:00–19:00 <br> Sat–Sun 10:00–18:00
    a(href="tel:+74842218490").title-l +7 484 221 84 90
    a(href="mailto:pro@novyigorod.ru").title-l pro@novyigorod.ru