.accordeon-contents
  a.accordeon-content.img_active(data-fancybox="gallery" data-plan-img="0" href="img/product-img.jpg")
    img(src="img/product-img.jpg" alt="")
  a.accordeon-content(data-fancybox="gallery" data-plan-img="1" href="img/product-img-1.jpg")
    img(src="img/product-img-1.jpg" alt="" )
  a.accordeon-content(data-fancybox="gallery" data-plan-img="2" href="img/product-img-2.jpg")
    img(src="img/product-img-2.jpg" alt="")