$ms: 369;
$sm: 767;
$lg: 1023;
$xl: 1200;
$hd: 1439;
$uhd: 1919;

$ms1: $ms + 1;
$sm1: $sm + 1;
$lg1: $lg + 1;
$xl1: $xl + 1;
$hd1: $hd + 1;

$baseTextColor: #161616;
$baseFont: 'Inter', 'Helvetica', 'Ubuntu', 'Cantarell', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$Black: #161616;
$ChaosBlack: #0F0F0F;
$ColdStone: #CED0DC;
$DarkGreed: #193536;
$Green: #224646;
$LightGreen: #2E5E5E;
$Beige: #D5B38E;
$White: #FFFFFF;
$WhiteSmoke: #F5F5F5;
$BlackMana: #858585;

$DarkGray: #7B7B7B;
$Diamond: #FCF7E4;
$WhiteGray: #F1F1F1;
$FloralWhite: #FEFAEF;
$Gray: #F2F2F2;
$MediumGray: #CDCDCD;
$GrayBruh: #E5E5E5;

$BalticSea: #5d1919;
$BrassBalls: #E5C03C;
$CadmiumOrange: #EE8020;
$IndustrialRevolution: #737373;
$DireWolf: #282828;
$ConfidentYellow: #FFCB14;
$PaleGold: #FFDD66;
$Cowbell: #FFE381;
$Pompelmo: #FF6666;
$LightTan: #FFEBA4;
$DownFeatures: #FFF9E6;
$Porcelain: #F2F2F2;
$MediumAquamarine: #6CE4AA;

$ChessFilterPrimary: #FFF7F7;
$ChessFilterSecondary: #F7F3FE;
$ChessFilterHover: #FFEBA4;
$ChessFilterChecked: $PaleGold;

$ZincDust: #5B5B5B;