.block-info
  .block-info__content
    .h1 "New City" for living
    .p1
      |The residential complex "New City" is located in one of the most dynamic
      |developing areas of Obninsk - Zaovrazhye. Despite the proximity to
      |center (5 minutes drive to the Triumph Plaza shopping center), the place is quiet and calm.
    .p1 
      |The architecture and design of the complex are a striking example of a successful combination
      |classical construction traditions with modern materials and
      |technologies. The territory of the microdistrict is divided into a number of well-appointed
      |areas with children's playgrounds, exercise equipment and walking trails
      |paths
    a.button-primary.btn1(href="") Find out more
  .block-info__img 
    img(src="img/block-info-img.jpg" alt="")