.checkboxes
	<label class="chess-cell">
		<input type="checkbox">
		<span class="checkmark">
			p ะกั
		</span>
	</label>
	<label class="chess-cell">
		<input type="checkbox">
		<span class="checkmark">
			p 1
		</span>
	</label>
	<label class="chess-cell">
		<input type="checkbox">
		<span class="checkmark">
			p 2
		</span>
	</label>
	<label class="chess-cell">
		<input type="checkbox">
		<span class="checkmark">
			p 3
		</span>
	</label>