.mirror-block
  .mirror-block__img(js-lazy) 
    img(src="img/mirror-img.jpg" alt="")
  .mirror-block__info 
    a.h2(href="#") New city →
    .mirror-block__price 
      .p1 180
      span.p1 apartments from
      .p1 3 500 000 ₽ 
    .mirror-block__tags
      a.tag-text.p1(href="#") Apartments with finishing
      a.tag-text.p1(href="#") Underground parking
    .p1 
      |Comfort-class apartments with spacious layouts and ready-made renovations in a cascade-type building
    .mirror-block__paragraphs
      .p1 Completion date: Q4 2021
      .p1 Apartments from 32.6 to 168.2 m2